@media (max-width: 1700px) {
    .headding-container{
      margin-bottom: 10px !important;
  }
  }
  
  @media only screen and (max-width: 768px) {
    section{
      padding-inline: 10px !important;
    }
    .buttons_{
      display:none !important;
    }
  }
  
  