@import "./../../../../styles.scss";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

label{
  border: 2px dashed $clr_neutral_300;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.file-item{

  &:hover{
    background-color: #6b6b6b17;
  }
}
.context-cursor{
  cursor: context-menu;
}

@media (max-width: 1700px)
{
  label.rounded-5.bg-white.px-2.py-4.w-100 {
    padding: 14px 5px !important;
}
svg{
  width: 28px !important;
}
span.btn.bg-primary-400.txt-xs {

  padding-block: 5px !important;;
  font-size: 10px !important;
}
mat-icon.mat-icon.notranslate.material-symbols-outlined.text-primary-800.material-icons.mat-ligature-font.mat-icon-no-color {
  font-size: 19px !important;
}
span.overflow-line-1.txt-xs {
  font-size: 9px !important;
}

}