<div class=" d-flex align-items-center justify-content-center mt-3 w-100" style="width: 100%;">
  <form [formGroup]="form" class="d-flex gap-5 flex-column align-items-center justify-content-center " style="width:50%;height: 480px;">

        <!-- first line -->
          <div class="w-100  d-flex justify-content-between align-items-center">
            <label style="width:30%" >Randomize interval</label>

            <div  style="width:20%" class="form-check form-switch">
              <input [checked]="isIntervalChecked"  (change)="isInterval=!isInterval; onSwitcherChange($event,[intFrom,intTo])" class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>

            <div  style="width:42%; position: relative;" class="d-flex align-items-center justify-content-between">
              <div class="d-flex  flex-column" style="    width: 136px;

          ">
                <us-input
                value=""
                type="number"
                [error]="false"
                [fullWidth]="true"
                [min]="minNum"
                [max]="maxNum"
                formControlName="intFrom"

              ></us-input>

            </div>
            <span style="margin-inline: 10px">To</span>
            <div class="" style="width:136px">
              <us-input

              value=""
              type="number"
              [error]="false"
              [fullWidth]="true"
              [min]="minNum"
              [max]="maxNum"
              formControlName="intTo"

            ></us-input>
            </div>
            <div *ngIf="
            intFrom.value > maxNum ||
            intTo.value > maxNum ||
            intFrom.value > intTo.value
            " class="hint error "
            style="    position: absolute;
            bottom: -31px;"
          >
            <i class="si-info"></i>
            <p class="txt txt-xs">invalid number</p>
          </div>
            </div>



            </div>

          <!-- second line -->
          <div class="w-100  d-flex justify-content-between align-items-center">

            <label style="width:30%"  for="">Max recepients per day</label>
            <div  style="width:42%" class="d-flex align-items-center justify-content-between">
              <div  class="d-flex  flex-column" style="    width: 136px;
              position: relative;
          ">
               <us-input
               value=""
               type="number"
               [error]="false"
               [fullWidth]="true"
               [min]="minNum"
               [max]="maxNum"
               formControlName="rNum"

             ></us-input>
              <div *ngIf="
              rNum.value > maxNum
              " class="hint error "
              style="    position: absolute;
              bottom: -31px;"
            >
              <i class="si-info"></i>
              <p class="txt txt-xs">invalid number</p>
            </div>
            </div>
            </div>

          </div>

          <!-- third line -->
          <div class="w-100  d-flex justify-content-between align-items-center">
            <label style="width:30%" >Repeate every</label>
            <div style="width:20%"  class="form-check form-switch" >
              <input  (change)="isRepeatable=!isRepeatable; changeValue() ;onSwitcherChange($event,[repeate])"  class="form-check-input me-5" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>

            <div  style="width:42%" class="d-flex align-items-center gap-4">

              <div class="d-flex  flex-column" style="    width: 136px;
              position: relative;
          ">
                  <us-input
                  value=""
                  type="number"
                  [error]="false"
                  [fullWidth]="true"
                  [min]="minNum"
                  [max]="maxNum"
                  formControlName="repeate"

                ></us-input>
              <div *ngIf="
              repeate.value > maxNum
              " class="hint error "
              style="    position: absolute;
              bottom: -31px;"
            >
              <i class="si-info"></i>
              <p class="txt txt-xs">invalid number</p>
            </div>
            </div>

            <span>days</span>
            </div>
          </div>

          <!-- last line -->
          <div class="w-100  d-flex justify-content-between align-items-center">
            <label style="width:30%" >Sending out time</label>
            <div style="width:20%"  class="form-check form-switch" >
              <input  [checked]="isSendingOutTimeChecked" (change)="onSwitcherChange($event,[time1,time2])"   class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
            <div  class="d-flex  flex-column" style=" width:42%;
            position: relative;" >



              <div class="d-flex align-items-center justify-content-between">
                <div class="" style="width:136px">
                  <input #timePicker1 formControlName="time1" [nbTimepicker]="timepicker1" class="rounded-pill border border-1py-2 txt-input w-100 date" style="padding: 0 12px;">
                  <nb-timepicker #timepicker1></nb-timepicker>
                    </div>
                      <span style="margin-inline: 10px">To</span>
                      <div class="" style="width:136px">
                        <input  #timePicker2 formControlName="time2" [nbTimepicker]="timepicker2" class="rounded-pill border border-1py-2 txt-input w-100 date" style="padding: 0 12px;">
                        <nb-timepicker  #timepicker2></nb-timepicker>
                      </div>
              </div>

              <div *ngIf="
              form.hasError('timeOrderInvalid')
              " class="hint error "
              style="    position: absolute;
              bottom: -55px;"
            >
              <i class="si-info"></i>
              <p class="txt txt-xs">First time must be less than or equal second time</p>
            </div>
             </div>





              <!-- <div class="" style="width:136px"> -->



                <!-- <input #timePicker1 formControlName="time1" [nbTimepicker]="timepicker1" class="rounded-pill border border-1py-2 txt-input w-100 date" style="padding: 0 12px;">
                <nb-timepicker #timepicker1></nb-timepicker>
                  </div>
                  <span>To</span>
                  <div class="" style="width:136px">
                    <input  #timePicker2 formControlName="time2" [nbTimepicker]="timepicker2" class="rounded-pill border border-1py-2 txt-input w-100 date" style="padding: 0 12px;">
                    <nb-timepicker  #timepicker2></nb-timepicker>
                  </div>
                  <div *ngIf="form.hasError('timeOrderInvalid')" class="error-message">
                    The start time must be before the end time.
                  </div> -->
          </div>

  </form>
</div>
