@import "./../../../../../../styles.scss";

.form-switch .form-check-input {
  width: 55px !important;
}
.form-check-input {
  height: 26px !important;

}
.form-check-input:checked {
  background-color: var(--clr-primary-800)!important;
  border-color:var(--clr-primary-800)!important;
}
.form-check-input:focus {
  border-color: none !important;
  box-shadow:none !important;
}
.error {
  background: $clr_danger_50;
  border-color: $clr_danger_700;
  .prefix,
  .suffix {
    background: $clr_danger_50;
    border-color: $clr_danger_700;
  }

}
.hint {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $clr_neutral_600;

  &.error {
    color: $clr_danger_700;
  }
}
@media (max-width: 1700px) { 
  form {
    height: 299px !important;
    gap: 23px !important;
}
label {
  font-size: 12px !important;
}
.form-switch{
  .form-check-input{
  width: 43px !important;
  height: 20px !important;
}
}
input.rounded-pill.border.border-1py-2.txt-input.w-100.date.ng-untouched.ng-pristine {
  font-size: 12px;
}
span {
  font-size: 12px;
}
.intervals{
  width: 133px !important;
}
.campaign-setting-container{
  height: 385px !important;
}
}
@media(max-width:768px){
  .step-four-container{
      min-height: 55vh;
      padding: 20px 0 !important;
  }
  form{
      width: 100% !important;
      min-width: unset !important;
      background-color: white !important;
      padding: 45px 20px !important;
      border-radius: 24px;
      box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
      height: 318px !important;
      gap: 16px !important;
  }
  .form-check.form-switch{
    width: unset !important;
    padding: 0;
    margin: 0 !important;
  }
  .form-switch .form-check-input{
    width: 37px !important;
    margin-inline: 0px !important;

}
#interval , #repeatedDays , #sendingOut{
  width: 75% !important;


}
}
@media(min-width:767px){
  .lable-small-screen{
    display: none !important;

    }
    .lable-large-screen{
      display:flex !important ;
    
    }
}
@media(max-width:768px){
  .lable-small-screen{
    display: flex !important;
    }
.lable-large-screen{
  display:none !important ;

}
}