<section class="p-3">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="d-flex justify-content-center">
      <img src="assets/icons/templates-icon.svg" alt="" class="px-2" />
      <span class="txt-lg main-heading">{{ 'TEMPLATES' | translate }}</span>
    </div>

    <div class="buttons_">
      <us-button
        *ngIf="canEdit"
        class="m-2"
        label="{{ 'ADD_TEMPLATE' | translate }}"
        (click)="openAddTemplateModal()"
        img="assets/icons/new-message-icon.svg"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
      >
      </us-button>
    </div>
  </div>

  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    color="transparent"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex gap-2 align-items-center">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 9H17M11 13H17M11 17H17M1 2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H16C16.2652 1 16.5196 1.10536 16.7071 1.29289C16.8946 1.48043 17 1.73478 17 2V4C17 4.26522 16.8946 4.51957 16.7071 4.70711C16.5196 4.89464 16.2652 5 16 5H2C1.73478 5 1.48043 4.89464 1.29289 4.70711C1.10536 4.51957 1 4.26522 1 4V2ZM1 10C1 9.73478 1.10536 9.48043 1.29289 9.29289C1.48043 9.10536 1.73478 9 2 9H6C6.26522 9 6.51957 9.10536 6.70711 9.29289C6.89464 9.48043 7 9.73478 7 10V16C7 16.2652 6.89464 16.5196 6.70711 16.7071C6.51957 16.8946 6.26522 17 6 17H2C1.73478 17 1.48043 16.8946 1.29289 16.7071C1.10536 16.5196 1 16.2652 1 16V10Z" stroke="#6E6E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>  {{ 'TEMPLATES' | translate }}</span>
          </div>
        <!-- <img src="assets/icons/templates gray.svg" alt="" class="px-2" /> -->
      
      </ng-template>
      <app-innerTemplates [canEdit]="canEdit"></app-innerTemplates>
    </mat-tab>

    <!-- <mat-tab>
      <ng-template mat-tab-label>
        {{ 'OWA_TEMPLATES' | translate }}
      </ng-template>
      <app-owaTemplates></app-owaTemplates>
    </mat-tab> -->
  </mat-tab-group>
</section>
