button.rest-style {

    width: 130px !important;
}
.buttons {

    gap: 12px !important;
}
@media(max-width:768px){
    .step1-containter{
        padding: 0px !important;
    }
    button.rest-style {
        width: 45% !important;
    } 
    .buttons{
        width: 95% !important;
        position: unset !important;
        margin-top: 20px;
    }
}
