<div class="step1-containter  w-100 h-100 p-5 mt-5">

  <div class="d-flex gap-5 flex-column">
     <form [formGroup]="form" class="d-flex gap-5 flex-column">
      <us-input
      [isDisabled]="false"
      value=""
      placeholder="{{ 'enterAutomaionName' | translate }}"
      [maxCharLimit]="50"
      [optional]="false"
      type="text"
      [error]="false"
      [fullWidth]="true"
      formControlName="automationName"
      [label]="'AutomaionName' | translate"
      [error]="automationName.touched && automationName.errors?.required"
      [hintText]="automationName.touched && automationName.errors?.required ? ('requiredFieldHint' | translate) : ''"
    ></us-input>
    </form> 
    
<app-criteria  (allCriterias)="setCriterias($event)" (disableSaveButton)="disabled = $event" [criteriaParameters]="automationData?.criterias || []"></app-criteria>
  </div>
  
  <div class="d-flex justify-content-end align-items-center buttons">
    <button class="rest-style" matStepperNext  [disabled]="form.invalid || criterias.length==0 || disabled">
      <us-button
        class="m-2"
        label="{{ 'NEXT' | translate }}"
        [fullWidth]="true"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="form.invalid || criterias.length==0 || disabled"
        [appearance]="'primary'"
        
      >
      </us-button>
    </button>
  </div>
</div>