<section class="stepper " >
  <!-- <h2 *ngIf="isEditAutomation" style="text-align: center;font-size: 24px;">{{automationName}}</h2> -->
  <mat-stepper [linear]="true" #stepper>

    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step>
      <ng-template matStepLabel>{{ 'trigger_setting' | translate }}</ng-template>
      <div class="position-relative d-flex align-items-between flex-column justify-content-between" style="min-height: 100%;">
        <!-- step one content -->
        <app-automation-name [automationData]="automationData"></app-automation-name>
      
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'session_details' | translate }}</ng-template>
      <div class="position-relative step2-container d-flex align-items-between flex-column justify-content-between" style="min-height: 100%;">

        <!-- step two content -->
        <app-details (deviceIdToParent)="setDeviceId($event)" [automationData]="automationData"></app-details>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'Actions' | translate }}</ng-template>
      <div class="position-relative d-flex align-items-between flex-column justify-content-between h-100 step3-container" style="min-height: 100%;">
        <!-- last step -->
        <app-campaignActions *ngIf="isCampaignAction" [deviceId]="deviceID" (actionsData)="setActions($event)" [automationData]="automationData"></app-campaignActions>
          <div class="d-flex buttons justify-content-end align-items-center">
            <button class="rest-style" matStepperPrevious  [disabled]="isLoading">
            <us-button
              class="m-2"
              [fullWidth]="true"
              label="{{ 'BACK' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="isLoading"
              [appearance]="'primary'"
            >
            </us-button>
          </button>
          <button class="rest-style" matStepperNext  [disabled]="isLoading || botActions.length==0">
            <us-button
              class="m-2"
              [fullWidth]="true"
              [label]="isEditAutomation? ('SAVE' | translate) : ('ADD' | translate)"
              [fill]="true"
              [size]="'md'"
              [loading]="isLoading"
              [appearance]="'primary'"
              (clicked)="addAutomation()"
              [disabled]="isLoading || botActions.length==0"
            >
            </us-button>
          </button>
      
        </div>
      </div>

    </mat-step>
  </mat-stepper>
</section>

