.message-container{
    background-color: #FEFFB5;
    border-radius: 4px;

}
span{
    font-size: 14px;
}
@media(max-width:768px){
    span{
        
        font-size: 12px;
        max-width: 78%;
        }
    a{
        font-size: 12px;  
    }
}