<section class="stepper">
  <mat-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step>
      <ng-template matStepLabel>{{ 'selectListsLabel' | translate }}</ng-template>
      <ng-container *ngIf="step1">

        <div class="d-flex  align-items-between flex-column justify-content-between " >
          <app-stepOne (allSelected)="getLists($event)"></app-stepOne>
          <div class="d-flex buttons justify-content-end align-items-center" style="width: 98%; height: 20%;">
            <button class="rest-style " matStepperNext [disabled]="lists.length==0">
              <us-button
                class="m-2"
                label="{{ 'nextLabel' | translate }}"
                [fill]="true"
                [size]="'md'"
                [loading]="false"
                [appearance]="'primary'"
                (clicked)="toSecondStep()"
                [disabled]="lists.length==0"
              >
              </us-button>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'writeMessageLabel' | translate }}</ng-template>
      <ng-container *ngIf="step2">


      <div class="d-flex align-items-between flex-column justify-content-between" >
        <app-write-message (emptyMessageAndFiles)="stepTwoValidation($event)" (attachments)="filesUrls($event)" style="height: 80%;"></app-write-message>
        <div class="d-flex buttons justify-content-end align-items-center" style="width: 98%; height: 20%;">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
            >
            </us-button>
          </button>

          <button class="rest-style" matStepperNext [disabled]="stepTwoValidate">
            <us-button
              class="m-2"
              label="{{ 'nextLabel' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="false"
              [disabled]="stepTwoValidate"
              [appearance]="'primary'"
              (clicked)="toThirdStep()"
            >
            </us-button>
          </button>
        </div>
      </div>
    </ng-container>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'informationLabel' | translate }}</ng-template>
      <ng-container *ngIf="step3">
      <div class="d-flex align-items-between flex-column justify-content-between" >
        <app-stepThree (formValidityChange)="stepThreeValidation($event)" (isSelectedDevices)="deviceSelected=$event"></app-stepThree>
        <div class="d-flex buttons justify-content-end align-items-center" style="width: 98%; height: 20%;">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
            >
            </us-button>
          </button>

          <button class="rest-style" matStepperNext [disabled]="!stepThreeValidate || !deviceSelected">
            <us-button
              class="m-2"
              label="{{ 'nextLabel' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="false"
              [disabled]="!stepThreeValidate || !deviceSelected"
              [appearance]="'primary'"
              (clicked)="toLastStep()"
            >
            </us-button>
          </button>
        </div>
      </div>
    </ng-container>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'settingLabel' | translate }}</ng-template>
      <ng-container *ngIf="step4">
      <div class="d-flex align-items-between flex-column justify-content-between" >
        <app-stepFour (formValidityChange)="stepFourValidation($event)"></app-stepFour>
        <div class="d-flex buttons justify-content-end align-items-center" style="width: 98%; height: 20%;">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
            >
            </us-button>
          </button>

          <button class="rest-style" matStepperNext [disabled]="isLoading || !stepFourValidate">
            <us-button
              class="m-2"
              label="{{ 'addLabel' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="isLoading"
              [disabled]="isLoading || !stepFourValidate"
              [appearance]="'primary'"
              (clicked)="addCampaign()"
            >
            </us-button>
          </button>
        </div>
      </div>
    </ng-container>
    </mat-step>

  </mat-stepper>
</section>
