<section class="stepper">
  <mat-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

<!-- step one -->
    <mat-step>
      <ng-template matStepLabel>{{ 'selectListsLabel' | translate }}</ng-template>
      <ng-container *ngIf="step1">

        <div class="d-flex   position-relative  align-items-between flex-column justify-content-between " style="min-height: 100%;">
          <app-stepOne (allSelected)="getLists($event)"></app-stepOne>
          <div class="d-flex buttons justify-content-end align-items-center">
            <button class="rest-style " matStepperNext [disabled]="lists.length==0">
              <us-button
                class="m-2"
                label="{{ 'nextLabel' | translate }}"
                [fill]="true"
                [size]="'md'"
                [loading]="false"
                [appearance]="'primary'"
                (clicked)="toSecondStep()"
                [disabled]="lists.length==0"
              >
              </us-button>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-step>

<!-- step two -->
    <mat-step>
      <ng-template matStepLabel>{{ 'writeMessageLabel' | translate }}</ng-template>
      <ng-container *ngIf="step2">


      <div class="d-flex   position-relative align-items-between flex-column justify-content-between " style="min-height: 100%;">
        <app-write-message (filesAndMessage)="toThirdStep($event)" style="height: 80%;"></app-write-message>
      </div>
    </ng-container>
    </mat-step>

<!-- step three -->
    <mat-step>
      <ng-template matStepLabel>{{ 'informationLabel' | translate }}</ng-template>
      <ng-container *ngIf="step3">
      <div class="d-flex   position-relative align-items-between flex-column justify-content-between " style="min-height: 100%;">
        <app-stepThree (formValidityChange)="stepThreeValidation($event)" (isSelectedDevices)="deviceSelected=$event"></app-stepThree>
        <div class="d-flex buttons justify-content-end align-items-center">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
              
            >
            </us-button>
          </button>

          <button class="rest-style" matStepperNext [disabled]="!stepThreeValidate || !deviceSelected">
            <us-button
              class="m-2"
              label="{{ 'nextLabel' | translate }}"
              [fill]="true"
              [size]="'md'"
              [disabled]="!stepThreeValidate || !deviceSelected"
              [loading]="false"
              [appearance]="'primary'"
              (clicked)="toStepFour()"
            >
            </us-button>
          </button>
        </div>
      </div>
    </ng-container>
    </mat-step>

<!-- step four -->
<mat-step>
  <ng-template matStepLabel>{{ 'settingLabel' | translate }}</ng-template>
  <ng-container *ngIf="step4">
  <div class="d-flex  position-relative  align-items-between flex-column justify-content-between " style="min-height: 100%;">
    <app-stepFour [lastCampaignData]="lastCampaignData"(formValidityChange)="stepFourValidation($event)"></app-stepFour>
    <div class=" buttons" >
      <div class="d-flex  justify-content-end align-items-center" >

      <button class="rest-style" matStepperPrevious   [disabled]="isLoading">
        <us-button
          class="m-2"
          label="{{ 'backLabel' | translate }}"
          [fill]="false"
          [size]="'md'"
          [loading]="false"
          [disabled]="false"
          [appearance]="'primary'"
          [disabled]="isLoading"
        >
        </us-button>
      </button>

      <button class="rest-style" matStepperNext [disabled]="!stepFourValidate">
        <us-button
          class="m-2"
          label="{{ 'nextLabel' | translate }}"
          [fill]="true"
          [size]="'md'"
          [loading]="false"
          [disabled]="!stepFourValidate"
          [appearance]="'primary'"
          (clicked)="toStepFive()"
        >
        </us-button>
      </button>
    </div>
    </div>
  </div>
</ng-container>
</mat-step>

<!-- step five -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Actions' | translate }}</ng-template>
      <ng-container *ngIf="step4">
      <div class="d-flex  position-relative  align-items-between flex-column justify-content-between " style="min-height: 100%;">
        <app-campaignActions></app-campaignActions>
        <div class=" buttons" >
          <div class="d-flex  justify-content-end align-items-center" >

          <button class="rest-style" matStepperPrevious   [disabled]="isLoading">
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
              [disabled]="isLoading"
            >
            </us-button>
          </button>

          <button class="rest-style" matStepperNext [disabled]="isLoading || !stepFourValidate">
            <us-button
              class="m-2"
              label="{{ 'addLabel' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="isLoading"
              [disabled]="isLoading"
              [appearance]="'primary'"
              (clicked)="addCampaign()"
            >
            </us-button>
          </button>
        </div>
          <p *ngIf="showWarningMsg">{{'waiting_msg' | translate}}</p>
        </div>
      </div>
    </ng-container>
    </mat-step>

  </mat-stepper>
</section>
