<section class="d-flex flex-column gap-3 h-100 position-relative pt-5">
  <!-- modal header -->
<div class="px-4">
  <div class="d-flex justify-content-center align-items-center  flex-column mb-4 " >
    <div class="close-icon">
      <mat-icon class="text-neutral-0">close</mat-icon>
    </div>

  </div>
  <!-- modal body  -->

  <div class="content d-flex justify-content-center align-items-center flex-column gap-4">
    <div class="txt-lg">
      <span style="font-weight: 700;">{{numOfItems}} item(s)</span>
      Selected
    </div>
    <p class="txt-sm text-center">Are you sure you want to delete selected items ?</p>
  </div>
 </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center position-absolute bottom-0 w-100 gap-3"  style="height: 89px; background:#DBE9F2;">
    <us-button
      label="Confirm"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submit()"
    ></us-button>

    <us-button
      label="Cancel"
      size="sm"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
  </div>
</section>
