<section class="d-flex flex-column p-5 gap-3 h-100">
  <!-- modal header -->

  <div class="d-flex justify-content-center align-items-center position-relative mb-4 " style="height: 10%;">
    <p class="txt-lg ms-4">{{ 'error_items' | translate }}</p>
    <div class="position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="close-icon"
        style="cursor: pointer;"
      />
    </div>
  </div>

  <div class="table-container " style="height: 80%;" >
    <div class="table-inner-container px-3 pb-3" >

      <table mat-table [dataSource]="dataSource" >
      
        <!-- My Lists Column -->
        <ng-container matColumnDef="objectName">
          <th mat-header-cell *matHeaderCellDef>{{ 'objectName' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.errorOnObject }}</td>
        </ng-container>
  
        <!-- Contacts Column -->
        <ng-container matColumnDef="errorState">
          <th mat-header-cell *matHeaderCellDef>{{ 'errorState' | translate }}</th>
          <td mat-cell *matCellDef="let element"><span class="contacts">{{ element.errorReason  | translate}}</span></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
  
      </table>
    </div>
   
  </div>


</section>
