@media (max-width: 1700px)
{
    .write-message-containter{
        margin-top: 10px !important;
        padding: 32px !important;

    }
    .d-flex.gap-5.flex-column {
        gap: 15px !important;
    }
    form.d-flex.gap-5.flex-column.ng-dirty.ng-valid.ng-touched {
        gap: 15px !important;
    }
}
@media(max-width:768px){
    .write-message-containter{
        padding: 20px 0 !important;

    }
    .files-container{
        margin-bottom: 40px !important;
    }
    .buttons{
        width: 100% !important;
        position: unset !important;
        justify-content: center !important;
        margin-top: 20px;
    }
    .message-container{
        min-height: 60vh;
        margin-block: 10px;
        background-color: white !important;
        padding: 30px 20px !important;
        border-radius: 24px;
        box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
    }
}