@media (max-width: 1700px)
{
    .write-message-containter{
        margin-top: 10px !important;
        padding: 32px !important;

    }
    .d-flex.gap-5.flex-column {
        gap: 15px !important;
    }
    form.d-flex.gap-5.flex-column.ng-dirty.ng-valid.ng-touched {
        gap: 15px !important;
    }
}
@media(max-width:768px){
    .write-message-containter{
        padding: 22px !important;

    }
    .files-container{
        margin-bottom: 40px !important;
    }
}