<div class="bg-white sidnav-container py-md-2 py-lg-3  d-flex flex-column square scrollbar-dusty-grass square thin">
  <div class="d-flex justify-content-between align-items-center user-info-container w-100">
    <div class="user-info d-flex gap-3 align-items-center">
      <div class="user-img d-flex justify-content-center align-items-center">
        <div class="chars text-neutral-0 txt-md">
          {{ chars }}
        </div>
      </div>

      <div class="user-name text-neutral-900 txt-md">
        {{ userName }}
      </div>
    </div>
    <div class="options_icon" (click)="showOptions()">
      <mat-icon class="text-primary-800 txt-lg">more_vert</mat-icon>
    </div>
  </div>

  <ng-container *ngIf="show">
    <ng-container>
      <ul class="user-options d-flex p-4 bg-neutral-0 flex-column">
        <li class="opt">
          <a href="" class="text-neutral-600 d-flex">
            <div class="icon">
              <img src="assets/icons/settings.svg" alt="" />
            </div>
            <span class="txt-md">Settings</span>
          </a>
        </li>

        <li class="opt">
          <a href="" class="text-neutral-600 d-flex">
            <div class="icon">
              <img src="assets/icons/logout.svg" alt="" />
            </div>

            <span class="txt-md">Logout</span>
          </a>
        </li>
      </ul>
    </ng-container>
  </ng-container>

  <div class="all-options-container d-flex justify-content-between  flex-column h-100 overflow-auto px-3">
    <ul class="d-flex flex-column">
      <li class="">
        <a
          routerLinkActive="active"
          routerLink="/dashboard"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/dashboard-1.svg" alt="" />
          </div>
          <span class="txt-md">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/message"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/message-1.svg" alt="" />
          </div>
          <span class="txt-md">Message</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/chats"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/chats-1.svg" alt="" />
          </div>
          <span class="txt-md">Chats</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/compaigns"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/campaign-1.svg" alt="" />
          </div>
          <span class="txt-md">Compaigns</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/templates"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/templates-1.svg" alt="" />
          </div>
          <span class="txt-md">Templates</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/contacts"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/manage-contacts-1.svg" alt="" />
          </div>
          <span class="txt-md">Manage Contacts</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/users"
          class="text-neutral-600 d-flex pe-4"
        >
          <div class="icon">
            <img src="assets/icons/users-1.svg" alt="" />
          </div>
          <span class="txt-md"> Users</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/devices"
          class="text-neutral-600 d-flex pe-3"
        >
          <div class="icon">
            <img src="assets/icons/devices-1.svg" alt="" />
          </div>
          <span class="txt-md">Devices</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/bot"
          class="text-neutral-600 d-flex pe-4"
        >
          <div class="icon">
            <img src="assets/icons/bot-1.svg" alt="" />
          </div>
          <span class="txt-md">Bot</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/billing"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/billing-1.svg" alt="" />
          </div>
          <span class="txt-md">Billing</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/videos"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/video-1.svg" alt="" />
          </div>
          <span class="txt-md">Videos</span>
        </a>
      </li>
      <li class="mb-3">
        <a
          routerLinkActive="active"
          routerLink="/notes"
          class="text-neutral-600 d-flex"
        >
          <div class="icon">
            <img src="assets/icons/notes-1.svg" alt="" />
          </div>
          <span class="txt-md">Notes</span>
        </a>
      </li>
    </ul>
    <div class="i-help">
      <a
        routerLinkActive="active"
        routerLink="/help"
        class="text-neutral-600 d-flex"
      >
        <div class="icon">
          <img src="assets/icons/help-1.svg" alt="" />
        </div>
        <span class="txt-md">Help</span>
      </a>
    </div>
  </div>
</div>
