<section class="d-flex flex-column py-4 px-5 gap-3 h-100">
  <!-- modal header -->
  <div
    class="d-flex justify-content-between align-items-center mb-4"
    style="height: 10%"
  >
    <div *ngIf="!isEdit" class="txt-lg" style="font-weight: 800">
      {{ "ADD_CONTACT" | translate }}
    </div>
    <div *ngIf="isEdit" class="txt-lg" style="font-weight: 800">
      {{ "UPDATE_CONTACT" | translate }}
    </div>
    <img
      src="assets/icons/close-circle.svg"
      (click)="onClose()"
      alt="{{ 'CLOSE_ICON_ALT_TEXT' | translate }}"
      style="cursor: pointer ; width: 35px;"
    />
  </div>

  <!-- modal body -->
  <div class="modal-body overflow-auto px-1" style="height: 80%">
    <form [formGroup]="form" class="w-100 m-auto">
      <div class="d-flex gap-4 flex-column py-3">
        <us-input
          [isDisabled]="false"
          value=""
          placeholder="{{ 'NAME' | translate }}"
          [optional]="false"
          type="text"
          [error]="name.touched && name.errors?.required"
          [fullWidth]="true"
          formControlName="name"
          label="{{ 'NAME' | translate }}"
          [hintText]="
            name.touched && name.errors?.required
              ? ('REQUIRED_FIELD' | translate)
              : ''
          "
        ></us-input>

        <div
          class="form-group d-flex gap-lg-4 flex-column flex-lg-row flex-nowrap"
        > <div
        class="label-widget text-start w-25 d-none d-lg-block"
        style="min-width: 25%;"
      >
          <label for="mobile" class="label txt txt-sm text-nowrap d-flex">
            <span class="txt txt-sm text-black text-wrap">{{
              "MOBILE_NUMBER" | translate
            }}</span>
            <em class="text-danger">*</em>
          </label>
</div>
          <div class="w-100">
            <ngx-intl-tel-input
              [cssClass]="
                (mobile?.touched && mobile.invalid ? 'error' : '') +
                ' rounded-pill border border-1py-2 txt-input w-100'
              "
              [enableAutoCountrySelect]="true"
              [preferredCountries]="[CountryISO.UnitedArabEmirates]"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Egypt"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="mobile"
            ></ngx-intl-tel-input>

            <ng-container *ngIf="mobile?.touched && mobile?.errors?.required">
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">{{ "REQUIRED_FIELD" | translate }}</p>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                mobile?.touched && mobile.invalid && !mobile?.errors?.required
              "
            >
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">
                  {{ "INCORRECT_PHONE_NUMBER" | translate }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>

        <us-input
          [isDisabled]="false"
          value=""
          placeholder="{{ 'COMPANY_NAME' | translate }}"
          [optional]="true"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="cnName"
          label="{{ 'COMPANY_NAME' | translate }}"
        ></us-input>

        <us-select
          [data]="listsArr"
          formControlName="selectedLists"
          [multiSelect]="true"
          label="{{ 'listsLabel' | translate }}"
          [placeholder]="'SELECT_LISTS' | translate"
          [isDisabled]="false"
          [optional]="true"
          [loadingText]="listsLoadingText"
          [enableSearch]="true"
          [searchbarOnToggler]="true"
          [searchNoResultText]="'THERE_IS_NO_RESULT' | translate"
          [maxListItemsWithoutSearch]="5"
        ></us-select>

        <us-input
          [isDisabled]="false"
          placeholder="{{ 'NOTES' | translate }}"
          [optional]="true"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="note"
          label="{{ 'NOTES' | translate }}"
          [isTextArea]="true"
        ></us-input>
      </div>
    </form>
      <!-- additional fields -->
      <div class="additional p-3 mt-3">
        <ng-container *ngIf="additionalParameters && additionalParameters?.length != 0">
          <div class="additionaltb">
            <div class="tbheader">
              <span class="txt-md" style="font-weight: 500">{{ 'FIELD_NAME' | translate }}</span>
              <span class="txt-md" style="font-weight: 500">{{ 'VALUE' | translate }}</span>
            </div>
            <div class="tbBody">
              <div
                class="tbrow"
                *ngFor="let item of additionalParameters; let i = index"
              >
                <span
                  class="txt-md"
                  style="
                        font-weight: 500;
                        width: 9%;
                        display: flex;
                        justify-content: center;
                  "
                  >{{ i + 1 }}</span
                >
                <span
                  class="txt-sm"
                  style="display: inline-block; width: 34%;"
                  >{{ item.name }}</span
                >
                <span
                  class="txt-sm"
                  style="display: inline-block; width: 34%;"
                  >{{ item.value }}</span
                >
                <span class="pointer" (click)="remove(i)" style="display: inline-block; width: 20%;"
                  ><img src="assets/icons/delDev.svg" alt="" srcset=""
                /></span>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="showInputs">
          <form [formGroup]="form2" class="inputs">
            <div class="nam">
              <us-input
                [isDisabled]="false"
                [optional]="false"
                type="text"
                [error]="fieldName.touched && fieldName.errors?.required"
                [hintText]="
                fieldName.touched && fieldName.errors?.required
                  ? ('REQUIRED_FIELD' | translate)
                  : ''
              "
                [fullWidth]="true"
                placeholder="{{ 'FIELD_NAME' | translate }}"
                formControlName="fieldName"
              ></us-input>
             
            </div>
            <div class="value">
              <us-input
                [isDisabled]="false"
                placeholder="{{ 'VALUE' | translate }}"
                formControlName="value"
                [isDisabled]="false"
                [optional]="false"
                type="text"
                [fullWidth]="true"
                [error]="value.touched && value.errors?.required"
                [hintText]="
                value.touched && value.errors?.required
                  ? ('REQUIRED_FIELD' | translate)
                  : ''
              "
              ></us-input>
            </div>
          </form>
          <div class="buttons d-flex justify-content-center gap-3">

          <us-button
          label="{{ 'CANCEL' | translate }}"
          size="sm"
          [loading]="false"
            [fill]="false"
            (clicked)="cancel()"
          ></us-button>

          <us-button
          label="{{ 'SAVE' | translate }}"
          size="sm"
          appearance="primary"
          [fill]="true"
          (clicked)="save()"
          [loading]="false"
          [disabled]="form2.invalid || invalidName"
        ></us-button>
          </div>
        </ng-container>

        <div *ngIf="!showInputs" class="w-100 d-flex justify-content-center">
          <us-button
            class="m-2"
            label="{{ 'ADD_NEW_CONTENT' | translate }}"
            [matIcon]="'add'"
            [fill]="true"
            [size]="'md'"
            [loading]="false"
            [disabled]="false"
            [appearance]="'primary'"
            (clicked)="showInputs = true"
          ></us-button>
        </div>
      </div>

  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center gap-3" style="height: 10%">
    <us-button
      label="{{ 'CANCEL' | translate }}"
      size="sm"
      appearance="primary"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
    <us-button
      *ngIf="!isEdit"
      label="{{ 'SAVE' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submitAdd()"
      [disabled]="form.invalid || isLoading ||showInputs"
    ></us-button>
    <us-button
      *ngIf="isEdit"
      label="{{ 'SAVE' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submitEdit()"
      [disabled]="form.invalid || isLoading ||showInputs  || invalidName"
    ></us-button>
  </div>
</section>
