:host ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px;
}
.icon{
  cursor: pointer;
}
.additional{
  background-color: #FBFBFB;
  border: 0.5px dashed #A0A0A0;
  border-radius: 20px;
}
.tbheader{
  display: flex;
  width: 42%;
  justify-content: space-between;
  margin-left: 50px;
}
.tbBody{
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.tbrow{
  margin-bottom: 5px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  height: 30px;

}
.tbBody .tbrow:not(:last-of-type){
  border-bottom: 0.5px solid #bebbbb;
}
.inputs{
  display: flex;
    width: 61%;
    justify-content: space-around;
    gap: 42px;
    margin-left: 43px;
    margin-bottom: 25px;

}
// .form-control{
//   width: 397px;
//   height: 42px;
//   border-radius: 40px;
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
//   border: 0.5px solid rgba(160, 160, 160, 1);
//   &:focus{
//     border: 1px solid rgba(18, 139, 187, 0.77);

//   }

// }
// .txt-area{
//   width: 397px;
//   height: 86px;
//   border-radius: 16px;
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
//   border: 0.5px solid rgba(160, 160, 160, 1);
// }
// ::ng-deep .mat-mdc-form-field-infix.ng-tns-c46-16 {
//   width: 397px !important;
//   border-radius: 40px;
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
//   border: 0.5px solid rgba(160, 160, 160, 1);
// }
:host .mdc-text-field--filled:not(.mdc-text-field--disabled) {

  height: unset !important;
}
.field-name{
  font-size: 16px;;
}
@media (max-width: 1700px) {
  .d-flex.justify-content-between.align-items-center.mb-4 {
    margin-bottom: 0 !important;
}
  img {
    width: 15px !important;
}
.d-flex.gap-4.flex-column.py-3 {
  gap: 11px !important;
}
.contact-details-container{
  gap: 1px !important;
  padding: 10px 20px !important;

}
.field-name{
  font-size: 12px !important;
}
}
