.tab-icon {
  margin-right: 8px;
}
.main-heading {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  section{
    padding-inline:10px;
  }
  .buttons_{
    display:none !important;
  }
}

