<section class="p-3">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="d-flex justify-content-center ">
      <img src="assets/icons/manage-contacts.svg" alt="" class="px-2">

      <!-- <mat-icon class="tab-icon">recent_actors</mat-icon> -->
   <span class="txt-lg main-heading"> Manage Contacts</span>
    </div>
    <div class="buttons_ ">
      <us-button
      *ngIf="isDelete"
        class="m-2"
        label="Delete"
        img="assets/icons/delete.svg"
        [iconClass]="'material-symbols-outlined'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'danger'"
        (clicked)="openDeleteModal()"
      ></us-button>
      <us-button
        class="m-2"
        label="Add list"
        [matIcon]="'add'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="openModal()"
      ></us-button>
      <us-button
        class="m-2"
        label="Export All"
        img="assets/icons/export.svg"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="test()"
      ></us-button>
    </div>

  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="transparent">

    <mat-tab>
      <ng-template mat-tab-label class="txt-md">
        <img src="assets/icons/contacts.svg" alt="" class="px-2">
        <!-- <mat-icon class="tab-icon">contacts</mat-icon> -->
          Contacts
      </ng-template>
      <app-contacts></app-contacts>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/icons/lists.svg" alt="" class="px-2">
          Lists
        <!-- <mat-icon class="tab-icon">format_list_bulleted</mat-icon> -->

      </ng-template>
      <app-lists (isDelete)="onDeleteChange($event)"></app-lists>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label >
        <img src="assets/icons/unsubscribe.svg" alt="" class="px-2">

          Unsubscribed

        <!-- <mat-icon class="tab-icon">unsubscribe</mat-icon> -->

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</section>
