@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
.msg-body{
    font-family:'Poppins', 'Noto Color Emoji' !important;

}
@media (max-width:991px) {
    .filter-dropDown {
        form {
            width: 153px !important;
        }
    }
    .device-dropdown{
        form{
            margin-inline: 0px !important;
        }
    }
}
