table {
  width: 100%;
  height: 48vh;
}


.left-arrow{
  background-image: linear-gradient(90deg,#eef4f9c2 70%,transparent) !important;
}
.right-arrow{


  background-image: linear-gradient(90deg, transparent, rgb(238, 244, 249) 90%)!important;
}
