<div class="bg-primary-200 h-100">
  <a class="d-flex justify-content-start align-items-center ps-3 p-4" style="text-decoration: none;" [routerLink]="['/login']" routerLinkActive="router-link-active">
    <img src="/assets/icons/eva_arrow-ios-back-outline.svg" alt="" />
    <span class="text-neutral-900 txt-md">{{ 'BACK' | translate }}</span>
  </a>

  <div class="ms-5 ps-2 mt-3">
    <img src="/assets/images/logo.svg" alt="" />
  </div>

  <div
    class="d-flex justify-content-center align-items-start mt-4 pt-4"
  >
    <div
      class="bg-white p-5 rounded-3"
      [ngClass]="{'d-flex justify-content-center align-items-center': isLoading}"
      style="box-shadow: 0px 8px 24px 0px #00000029; min-width: 472px; min-height: 374px;"
    >
      <ng-container *ngIf="!isLoading">
        <h3 style="font-family: Poppins; font-size: 24px; font-weight: 500">
          {{ 'ENTER_VERIFICATION_CODE' | translate }}
        </h3>
        <p style="font-family: Poppins; font-size: 20px; font-weight: 200">
          {{ 'ENTER_CODE_SENT_TO_EMAIL' | translate }}
        </p>
        <form [formGroup]="verificationForm" class="d-flex justify-content-center mb-2 p-4">
          <ng-container *ngFor="let digitIndex of digitIndexes; let last = last">
            <div
              class="mx-1"
              style="width: 40px; height: 50px; border: 2px #c6c6c6 solid"
            >
              <input
                class="input-digit text-center txt-lg"
                type="text"
                style="width: 100%; height: 100%; border: none"
                [maxlength]="1"
                [formControlName]="'digit' + digitIndex"
                (input)="onDigitInput($event, digitIndex)"
                (keydown)="onKeyDown($event, digitIndex)"
                [attr.id]="'digitInput' + digitIndex"
                [attr.tabindex]="digitIndex + 1"
              />
            </div>
            <div *ngIf="!last" class="mx-1"></div>
          </ng-container>
        </form>

        <div class="d-flex flex-column align-items-center w-100 gap-3 p-2">
          <div *ngIf="invalid" class="hint error mt-2">
            <i class="si-info"></i>
            <p class="txt hint error  txt-xs">{{ 'WRONG_CODE' | translate }}</p>
          </div>

          <div class="w-100">
            <us-button
              class="m-2"
              label="{{ 'RESEND_CODE' | translate }}"
              [fill]="true"
              [size]="'xl'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
              [fullWidth]="true"
              (clicked)="reSendCode()"
            ></us-button>
          </div>
          <a
            style="text-decoration: none; font-weight: 500"
            routerLink="/"
            class="mb-2"
          >
            {{ 'UPDATE_PHONE_NUMBER' | translate }}
          </a>
        </div>
      </ng-container>
      <ng-container *ngIf="isLoading">
        <div class="spinner-container p-3">
          <svg width="90" height="90" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <style>.spinner_0XTQ{transform-origin:center; animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style>
            <path class="spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/>
          </svg>
        </div>
      </ng-container>
    </div>
  </div>
</div>
