<section class="d-flex flex-column p-4 gap-3 h-100">

  <!-- modal header -->
  <div class="d-flex justify-content-center align-items-center position-relative mb-4 " style="height: 10%;">
    <div *ngIf="!isEdit" class="txt-lg">{{ 'ADD_TEMPLATE' | translate }}</div>
    <div *ngIf="isEdit" class="txt-lg">{{ 'EDIT_TEMPLATE' | translate }}</div>
    <div class=" close-icon position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="close-icon"
        style="cursor: pointer;width: 32px;"
              />
    </div>
  </div>

  <!-- modal body  -->
  <div class="modal-body overflow-auto px-1"  style="height: 80%;">
    <form [formGroup]="form" class="w-100 m-auto ">

      <div class="d-flex gap-4 flex-column py-3">
        <us-input
          [isDisabled]="false"
          value=""
          [optional]="false"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="templateName"
          label="{{ 'TEMPLATE_NAME' | translate }}"
          [error]=" (templateName.touched && templateName.errors?.required)"
          [hintText]=" templateName.touched && templateName.errors?.required ? ('REQUIRED_FIELD' | translate) :'' "
        ></us-input>

        <us-input
          [isDisabled]="false"
          value=""
          placeholder="text..."
          [optional]="true"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="messageBody"
          [limitTextarea]="false"
          label="{{ 'MESSAGE' | translate }}"
          [isTextArea]="true"
          [isEmoji]="true"
        ></us-input>
      </div>

    </form>

    <div class="form-group d-flex gap-lg-4 gap-3 flex-column flex-lg-row flex-nowrap files-container">
      <div class="label-widget text-start w-25 d-none d-lg-block" style="min-width: 25%;">
        <label for="files" class="w-25 text-nowrap d-flex" style="min-width:25%"
          ><span class="txt txt-sm text-black text-wrap">{{ 'Attachments' | translate }}</span>
        </label>
      </div>

      <div class="label-widget text-start w-100 d-block d-lg-none">
        <label for="files" class="w-25 text-nowrap d-flex" style="min-width:25%"> 
          <span class="txt  text-black text-wrap txt-sm">{{ 'Attachments' | translate }}</span>
        </label>
      </div>
      <us-upload  class="w-100"
      [isLoading]="loading"
      [(ngModel)]="fileData"
      (onFileChange)="onFileChange($event)"
      (onFileDelete)="onFileDelete($event)"
      [multiple]="true"
      ></us-upload>
    </div>
  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center gap-2"  style="height: 10%;">
    <us-button  *ngIf="!isEdit"
    label="{{ 'SAVE' | translate }}"
    size="sm"
    [loading]="isLoading"
    [fill]="true"
    (clicked)="submitAdd()"
    [disabled]="emptyMessageAndFilesAndName  || isLoading"
  ></us-button>
  <us-button
  *ngIf="isEdit"
  label="{{ 'SAVE' | translate }}"
  size="sm"
  [loading]="isLoading"
  [fill]="true"
  (clicked)="submitEdit()"
  [disabled]="emptyMessageAndFilesAndName || isLoading"
  ></us-button>
  <us-button
  label="{{ 'CANCEL' | translate }}"
  size="sm"
  appearance="primary"
  [fill]="false"
  (clicked)="onClose()"
  [loading]="false"
></us-button>
</div>
</section>
