<section class="d-flex flex-column gap-3 h-100 position-relative pt-5">
  <!-- modal header -->
  <div class="px-md-4 px-3">
    <div *ngIf="isRemoveL" class="d-flex align-items-center justify-content-center gap-3">
      <h1 class="mb-0 " style="font-weight: 500;">{{ 'REMOVE_LISTS' | translate }}</h1>
      <sr-tooltip
        text="{{ 'remove_lists_tooltip' | translate }}"
        >
        </sr-tooltip>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column mb-md-3 mb-2  modal-header-icon"style="height: 60%;">
      <div class="close-icon">
        <mat-icon class="text-neutral-0">close</mat-icon>
      </div>
    </div>
    <!-- modal body -->
    <div class="content d-flex justify-content-center align-items-center flex-column gap-4"style="height: 50%;">
      <ng-container *ngIf="!isDevices && !isCampaigns && !isTemplates && !isUsers && !isAutomation && !isChats">
      <div class="txt-lg" *ngIf="!isTemplates">
        <!-- number of selected items -->
          <span style="font-weight: 700;">{{ numOfItems }} {{ 'ITEMS_SELECTED' | translate }}</span>
        </div>
      </ng-container>
      <!-- displayed message -->
      <ng-container *ngIf="isDevices">
        <p class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_DEVICE_MESSAGE' | translate }}</p>
      </ng-container>
      <ng-container *ngIf="isUsers">
        <p class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_USER_MESSAGE' | translate }}</p>
      </ng-container>
      <ng-container *ngIf="isTemplates">
        <p class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_TEMPLATE_MESSAGE' | translate }}</p>
      </ng-container>
      <ng-container *ngIf="isAutomation">
        <p class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_AUTOMATION_MESSAGE' | translate }}</p>
      </ng-container>
      <ng-container *ngIf="isCampaigns">
        <ng-container [ngSwitch]="action">
          <p *ngSwitchCase="'delete'" class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_CAMPAIGN_MESSAGE' | translate }}</p>
          <p *ngSwitchCase="'stop'" class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'STOP_CAMPAIGN_MESSAGE' | translate }}</p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isContacts">
        <ng-container [ngSwitch]="isRemoveL">
          <p *ngSwitchCase="false" class="txt-md text-center">{{ 'DELETE_SELECTED_ITEMS_MESSAGE' | translate }}</p>
          <p *ngSwitchCase="true" class="txt-md text-center">{{ 'CLEAR_LISTS_MESSAGE' | translate }}</p>
     
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isLists">
        <ng-container [ngSwitch]="removeCon">
          <p *ngSwitchCase="true" class="txt-md text-center">{{ 'REMOVE_CONTACTS_MESSAGE' | translate }}</p>
          <p *ngSwitchCase="false" class="txt-md text-center">{{ 'DELETE_SELECTED_ITEMS_MESSAGE' | translate }}</p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isChats">
        <p class="txt-lg my-2 text-center" style="line-height: 1.3;">{{ 'DELETE_Chat_MESSAGE' | translate }}</p>

      </ng-container>
      <ng-container *ngIf="isMessages">
        <p class="txt-md text-center">{{ 'DELETE_SELECTED_ITEMS_MESSAGE' | translate }}</p>
      </ng-container>
    </div>
  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center position-absolute bottom-0 w-100 gap-3" style="height: 21%; background:#DBE9F2;">
    <us-button
      label="{{ 'CONFIRM' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submit()"
      [disabled]="isLoading"
    ></us-button>

    <us-button
      label="{{ 'CANCEL' | translate }}"
      size="sm"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
  </div>
</section>
