<div #parent class="sr-tooltip-parent">
  <div class="icon-container" *ngIf="!truncate; else showTruncate">
    <!-- <i
    *ngIf="iconClass"
      class="icon"
      [ngClass]="iconClass"
      (mouseenter)="onMouseenter()"
      (mouseleave)="onMouseleave()"
    ></i> -->
    <img style="width:90%" src="assets/icons/tooltip icon.svg" alt="tooltip"  
    (mouseenter)="onMouseenter()"
    (mouseleave)="onMouseleave()">

  </div>

  <ng-template #showTruncate>
    <div class="truncated-text-container">
      <span
        class="text"
        (mouseenter)="onMouseenter()"
        (mouseleave)="onMouseleave()"
      >
        {{ text }}
      </span>
    </div>
  </ng-template>
</div>
