@media(max-width:768px){
    .modal-body {
      padding: 0 6px !important;
  }
 
  section{
    width: 100% !important;
  
  }
  form.w-100.m-auto.mb-5.mt-4.ng-untouched.ng-pristine.ng-invalid {
    margin-block: 10px !important;
}
  }