.divCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px; 
    height: 34px; 
    border-radius: 50%; 
    color: white;   
}

input[type="radio"] {
    transform: scale(1.2); /* Increase the size as needed */
  }