<section class="d-flex flex-column p-5 gap-3 h-100">
  <!-- modal header -->
  <div
    class="d-flex justify-content-center align-items-center position-relative"
    style="height: 5%"
  >
    <div class="txt-lg">{{ 'ADD_USER' | translate }}</div>
    <div class=" close-icon  position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="close-icon"
        style="cursor: pointer;width: 32px;"
      />
    </div>
  </div>

  <section>
    <mat-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>

      <mat-step>
        <ng-template matStepLabel>{{ 'USER_INFO' | translate }}</ng-template>
        <div
          class="d-flex align-items-between flex-column justify-content-between gap-3"
          style="min-height: 54vh"
        >
          <div
            [formGroup]="form"
            style="height: 80%"
            class="d-flex gap-4 flex-column py-5 text-start"
          >
            <us-input
              [label]="'EMAIL' | translate"
              [type]="'email'"
              [placeholder]="'Enter your email'"
              formControlName="email"
              [error]=" (email.touched && email.errors?.required || email.dirty && email.errors?.pattern)"
              [hintText]=" email.touched && email.errors?.required ? 'This field is required':email.dirty && email.errors?.pattern?'Invalid email':'' "
              [fullWidth]="true"
            ></us-input>

            <us-input
              [label]="'PASSWORD' | translate"
              [type]="'password'"
              [placeholder]="'Enter your password'"
              formControlName="password"
              [error]=" (password.touched && password.errors?.required)"
              [hintText]=" password.touched && password.errors?.required ? 'This field is required':'' "
              [fullWidth]="true"
            ></us-input>

            <us-input
              [label]="'Username' | translate"
              [type]="'text'"
              [placeholder]="'Enter your name'"
              formControlName="contactName"
              [error]=" (contactName.touched && contactName.errors?.required)"
              [hintText]=" contactName.touched && contactName.errors?.required ? 'This field is required':'' "
              [fullWidth]="true"
            ></us-input>
          </div>

          <div
            class="d-flex justify-content-end align-items-center"
            style="width: 98%; height: 20%"
          >
            <button class="rest-style" matStepperNext [disabled]="form.invalid">
              <us-button
                class="m-2"
                label="{{ 'NEXT' | translate }}"
                [fill]="true"
                [size]="'md'"
                [loading]="false"
                [appearance]="'primary'"
                [disabled]="form.invalid"
              >
              </us-button>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'ACCESS_CONTROL' | translate }}</ng-template>
        <div
          class="d-flex align-items-between flex-column justify-content-between gap-3"
          style="min-height: 54vh"
        >
          <app-action
            style="height: 80%"
            (sharedPermissions)="addSharedPermisions($event)"
            (permissions)="addPermissions($event)"
          ></app-action>
          <div
            class="d-flex justify-content-end align-items-center"
            style="width: 98%; height: 20%"
          >
            <button class="rest-style" matStepperPrevious>
              <us-button
                class="m-2"
                label="{{ 'BACK' | translate }}"
                [fill]="false"
                [size]="'md'"
                [loading]="false"
                [disabled]="false"
                [appearance]="'primary'"
              >
              </us-button>
            </button>

            <button class="rest-style" matStepperNext>
              <us-button
                class="m-2"
                label="{{ 'ADD' | translate }}"
                [fill]="true"
                [size]="'md'"
                [loading]="isLoading"
                [disabled]="isLoading"
                [appearance]="'primary'"
                (clicked)="submitAdd()"
              >
              </us-button>
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </section>
</section>
