<section class="m-4">
  <div class="d-flex justify-content-between mb-5 align-items-center">
    <div class="d-flex justify-content-center">


      <!-- <mat-icon class="tab-icon">recent_actors</mat-icon> -->
      <span  class="txt-lg main-heading">{{compaign?.campaignName}}</span>
      <!-- <span  class="txt-lg main-heading"> List Name</span> -->

    </div>

    <!-- <us-button
      class="m-2"
      label="New Compaign"
      img="assets/icons/compagins-icon.svg"
      [fill]="true"
      [size]="'md'"
      [loading]="false"
      [disabled]="false"
      [appearance]="'primary'"
    >
    </us-button> -->

  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="transparent" (selectedTabChange)="resetTableData()">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/icons/report-icon.svg" alt="" class="px-2">
        Report Summary
        <!-- <mat-icon class="tab-icon">format_list_bulleted</mat-icon> -->

      </ng-template>
      <app-reportSummary  [compaignId]="compaignId" [compaign]="compaign"></app-reportSummary>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="txt-md">
        <img src="assets/icons/recip-activite.svg" alt="" class="px-2">
        <!-- <mat-icon class="tab-icon">contacts</mat-icon> -->
        Recipient Activities
      </ng-template>
      <app-recipientActivities [compaignId]="compaignId" [compaign]="compaign"></app-recipientActivities>
    </mat-tab>




  </mat-tab-group>
</section>
