
.status{
  width: 17px;
  height: 17px;
  border-radius: 50%;

}
.active{
  background: rgba(37, 255, 98, 1);

}
.inactive{
  background: rgba(255, 181, 37, 1);

}
span{
  color: rgba(51,50,61 ,1)!important ;
}


@media (max-width: 1700px) { 
  .headding-container{
    margin-bottom: 10px !important;
}

  .d-flex.align-items-between.flex-column.justify-content-between.ng-star-inserted {
    gap: 20px !important;
}

}
