p{
    color:#868686;
    font-size: 46px;
}
.info{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
}
@media (max-width:768px){
    p{
        font-size: 28px !important;
    }
    .info{
        font-size: 22px !important;
        line-height: 1.5;

    }  
    img{
        width: 27px !important;

    }
}