<form [formGroup]="form" class="w-100 h-100 p-4 mt-5">
  <div class="d-flex gap-4 flex-column">
    <div class="form-group d-flex gap-lg-5 flex-column flex-lg-row flex-nowrap">
      <label for="mobile" class="w-25 d-none d-lg-block text-nowrap"
        ><span class="txt txt-sm text-black text-wrap">Schedule</span>
      </label>

      <div class="w-100">
        <input
        class="rounded-pill border border-1py-2 txt-input w-100 date" style="padding: 0 12px;"
          nbInput
          placeholder="Pick Date"
          [nbDatepicker]="dateTimePicker"
        />
        <nb-date-timepicker withSeconds #dateTimePicker> </nb-date-timepicker>
      </div>
    </div>

    <us-select
      [data]="devices"
      formControlName="devicesData"
      [multiSelect]="true"
      [label]="'Devices'"
      [placeholder]="'Select Devices'"
      [isDisabled]="false"
      [optional]="true"
      [enableSearch]="true"
      [searchbarOnToggler]="true"
      [searchNoResultText]="'there is no result'"
      [maxListItemsWithoutSearch]="5"
    ></us-select>
  </div>
</form>
