@media (max-width: 1400px) {

input.rounded-pill.border.border-1.py-2.txt-input.w-100.date.ng-untouched.ng-pristine.ng-valid {
    font-size: 12px;
    height: 31px;
}
.d-flex.gap-5.flex-column {
    gap: 20px !important;
}
}