<form [formGroup]="form" class="w-100  h-100 p-5 mt-5">
  <div class="d-flex gap-5 flex-column">
    <div class="form-group d-flex gap-lg-4 flex-column flex-lg-row flex-nowrap">
      <label for="dateTime" class="w-25 d-none d-lg-block text-nowrap d-flex" style="min-width:25%"
        ><span class="txt txt-sm text-black text-wrap">{{ 'SCHEDULE' | translate }}</span>
      </label>

      <div class="w-100">
        <!-- <input #dateTime
        class="rounded-pill border border-1 py-2 txt-input w-100 date" style="padding: 0 12px;"
          nbInput
          placeholder="{{ 'PICK_DATE' | translate }}"
          [nbDatepicker]="dateTimePicker"
          [formControl]="dateFormControl"
        />
        <nb-date-timepicker withSeconds #dateTimePicker> </nb-date-timepicker> -->
        <nz-date-picker
        class="rounded-pill border border-1py-2 txt-input w-100 date"
        style="padding: 0 12px;"
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          [formControl]="dateFormControl"
      ></nz-date-picker>
      </div>
    </div>

    <us-select
      [data]="devices"
      formControlName="devicesData"
      [multiSelect]="false"
      [label]="'devicesLabel' | translate"
      (onSelect)="onSelect($event)"
      [loadingText]="deviceLoadingText"
      [placeholder]="'SELECT_DEVICES' | translate"
      [isDisabled]="false"
      [optional]="true"
      [enableSearch]="true"
      [searchbarOnToggler]="true"
      [searchNoResultText]="'NO_RESULT_FOUND' | translate"
      [maxListItemsWithoutSearch]="5"
    ></us-select>
  </div>
</form>
<!-- <div class="d-flex justify-content-end buttons align-items-center" style="width: 98%; ">
  <button class="rest-style" matStepperPrevious>
    <us-button
      class="m-2"
      label="{{ 'BACK' | translate }}"
      [fill]="false"
      [size]="'md'"
      [loading]="false"
      [disabled]="false"
      [appearance]="'primary'"
    >
    </us-button>
  </button>
  <button class="rest-style" matStepperNext >
    <us-button
      class="m-2"
      label="{{ 'SEND' | translate }}"
      [fill]="true"
      [size]="'md'"
      [loading]="isLoading"
    
      [appearance]="'primary'"
      (clicked)="sendMessage()"
    >
    </us-button>
  </button>
</div> -->
<!--   [disabled]="isLoading || !deviceSelected" -->