<nav class="d-flex justify-content-between px-5 align-items-center p-2 zi-5 bg-primary-800 text-neutral-0">
  <div>
    <img src="assets/icons/bars.svg" class="bars-icon d-none" (click)="openSideNav()">
    <img src="assets/images/white logo.svg" class="logo"  alt="" srcset="">
  </div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu" class="text-neutral-0">
      <div class="d-flex align-items-center gap-3">
        <div class="icon">
          <img src="assets/icons/lang.svg" alt="" />
        </div>
        {{language}}
        <div class="icon">
          <img src="assets/icons/polygon.svg" alt="" />
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="language='English';switchLanguage('en')">English</button>
      <button mat-menu-item (click)="language='العربية';switchLanguage('ar')">العربية</button>
    </mat-menu>
  </div> 

</nav>
