.pointer{
  cursor: pointer;
}

#list{
  position: relative;


}
.arrow {
  position: absolute;
  right: 0%;
  z-index: 3;
  top: 0;
  width: 38%;
  height: 92%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255 255 255 / 79%), rgb(255 255 255));

  align-items: center;}
  .lists{
    display: flex;
    width: 149px;
    overflow-x: auto;
    background: transparent !important;
    z-index: 2;
    position: relative;



}
.listName{
  border: 1px solid var(--clr-primary-800);
  color:var(--clr-primary-800);
  width: 35%;
  min-width:80px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  font-size: 13px;

}
.overflow-control{
  &::after{
    content: "";

  }
}
.right-arrow{
  cursor: pointer;
  // background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255 255 255 / 79%), rgb(255 255 255));
  background-image: linear-gradient(90deg,transparent,#fff 90%);
}
.left-arrow{
  cursor: pointer;
  background-image: linear-gradient(90deg,#fff 70%,transparent);
  img{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
}
.lists-wrapper{
  scroll-behavior: smooth;
}

.lists{
  width: 200px;

}
@media (max-width: 1700px) {
.listName{
  padding: 3px 6px!important;
  font-size: 10px !important;
}
}

.table-mobile-view{
  display: none;
}
@media (max-width:600px) {
  .table-large-screen {
    display: none !important;
  }
}