<div class="container-fluid px-0 bg-primary-100">
  <div #langSwitch class="colored-menu">
    <button mat-button [matMenuTriggerFor]="menu" class="text-primary-800">
      <div class="d-flex align-items-center gap-3 txt-sm">
        <div class="icon">
          <img src="assets/icons/lang-colored.svg" alt="" />
        </div>
        {{language}}
        <div class="icon">
          <img src="assets/icons/Polygon 35.svg" alt="" />
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="language='English';switchLanguage('en')" [style.width]="getWidth(langSwitch)">English</button>
      <button mat-menu-item (click)="language='العربية';switchLanguage('ar')" [style.width]="getWidth(langSwitch)">العربية</button>
    </mat-menu>
  </div>

  <div class="row">
    <div
      class="side-form bg-primary-200 text-center vh-100 col-md-4 p-5 d-flex flex-column justify-content-center align-items-center"
      style="box-shadow: 0px 11px 22px 0px #00000029"
    >
  <img src="/assets/images/colored logo_name side.svg" alt="myLogo" style="width:60%" class="my-3 main-logo" />
      <div class="col-md-12  text-center">
        <h3 class="mb-5 mt-3 login-heading" style="font-family: Poppins; font-weight: 500;font-size: 22px;">
          {{ 'WELCOME_BACK' | translate }}
        </h3>
        <form [formGroup]="form" class="w-100">
          <!-- email -->
          <div class="col-md-12 mb-4 info-input">
            <us-input
              [isDisabled]="false"
              value=""
              [key]="'email'"
              [placeholder]="'ENTER_YOUR_EMAIL' | translate"
              [optional]="false"
              type="email"
              [fullWidth]="true"
              formControlName="email"
              label="{{ 'EMAIL' | translate }}"
              [error]="email.touched && (email.errors?.required || email.errors?.pattern)"
              [hintText]="
                email.touched && email.errors?.required
                  ? ('requiredFieldHint' | translate)
                  : email.dirty && email.errors?.pattern
                  ? ('INVALID_EMAIL' | translate)
                  : ''
              "

            ></us-input>
          </div>
          <!-- passward -->
          <div class="col-md-12 my-2 mb-4  mb-5 info-input">
            <us-input
              [isDisabled]="false"
              value=""
              [placeholder]="'ENTER_YOUR_PASSWORD' | translate"
              [optional]="false"
              type="password"
              [key]="'pass'"
              [fullWidth]="true"
              formControlName="password"
              label="{{ 'PASSWORD' | translate }}"
              [error]="password.touched && password.errors?.required"
              [hintText]="
                password.touched && password.errors?.required
                  ? ('requiredFieldHint' | translate)
                  : ''
              "
            ></us-input>
            <div class="w-100 my-3 forgot-pass"><a routerLink="/forgot-Passward" class="text-primary-800 txt-sm" >{{'Forgot Password?' | translate}}</a></div>
          </div>

          <div class="w-100">
            <us-button
            class="special-button"
              label="{{ 'LOGIN' | translate }}"
              [fill]="true"
              [size]="'xl'"
              [loading]="loading"
              [disabled]="loading || form.invalid"
              [appearance]="'primary'"
              (clicked)="login()"
              [fullWidth]="true"

            ></us-button>
          </div>
          <div *ngIf="invalid" class="hint error mt-2">
            <i class="si-info"></i>
            <p class="txt hint error txt-xs">{{ hintMessage | translate }}</p>
          </div>
        </form>
        <!-- <div class="d-flex justify-content-center align-items-center my-3">
          <div style="width: 45%; height: 1px; background-color: #b5b3b3"></div>
          <div class="mx-2">
            <p style="color: #b5b3b3">{{ 'OR' | translate }}</p>
          </div>
          <div style="width: 45%; height: 1px; background-color: #b5b3b3"></div>
        </div> -->
      </div>

      <!-- <div class="w-100">
        <us-button
          label="{{ 'LOGIN_WITH_GOOGLE' | translate }}"
          [size]="'xl'"
          [loading]="false"
          [disabled]="false"
          img="/assets/images/google logo.svg"
          [appearance]="'primary'"
          class="my-2"
          [fill]="false"
          [fullWidth]="true"
        ></us-button>
      </div> -->
      <div class="col-md-12">
        <div class="d-flex my-4 justify-content-center">
          <p style="font-weight: 500" class="mx-2 txt-md">{{ 'DONT_HAVE_AN_ACCOUNT' | translate }}</p>
          <a
          class="txt-md"
            style="text-decoration: none; font-weight: 500"
            routerLink="/signup"
            >{{ 'SIGNUP' | translate }}</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-md-8 p-5 pt-1 mx-auto d-none d-md-flex flex-column align-items-center justify-content-center text-center mx-auto"
    >
      <div class=" text-center mx-auto" style="width: 84%;">
        <img src="/assets/images/Connected-cuate 2.svg" alt="connectedLogo" class="w-100 text-center mx-auto" />
        <!-- <p class="text-center txt-lg mx-auto" style="color: #292a32;line-height: 1.5;">
          {{ 'LOREM_IPSUM' | translate }}
        </p> -->
      </div>
    </div>
  </div>
</div>
