@media(min-width:767px){
    .content_container{
        height: fit-content;
        min-height: 60vh;
    }
    .steps_container{
        max-width: 1000px;
        min-height: 86vh;
        max-height: 900px;
    }
}
@media(max-width:768px){
    section{
        max-height: 100%;
    }
    h1{
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1.5;
    }
}
