<section [ngClass]="!showSteps?'content_container':'steps_container'" class="contact-details-container d-flex flex-column p-4 gap-3 h-100">
    <!-- modal header -->
    <div class="d-flex justify-content-between align-items-center " style="height: 10%">
        <div *ngIf="!showSteps" class="txt-lg d-flex justify-content-center w-100 " >
            {{ "ADD_TL_Device" | translate }}
        </div>
        <div *ngIf="showSteps" style="line-height: 1.5" class="d-flex text-center justify-content-center w-100 " >
            <h1>{{ 'TlSteps.title' | translate }}    </h1>   
        </div>
        <img class="close_modal_icon" src="assets/icons/close-circle.svg" (click)="onClose()"
            alt="{{ 'CLOSE_ICON_ALT_TEXT' | translate }}" style="cursor: pointer ; width: 35px;" />
    </div>
    <ng-container  *ngIf="!showSteps">
        <!-- modal body -->
        <div class="modal-body overflow-auto px-1" style="height: 80%">
            <form [formGroup]="form" class="w-100 m-auto p-2">
                <div class="d-flex gap-4 flex-column py-3">
                    <us-input [maxCharLimit]="50" [isDisabled]="false" value=""
                        placeholder="{{ 'device_name' | translate }}" [optional]="false" type="text"
                        [error]="deviceName.touched && deviceName.errors?.required" [fullWidth]="true"
                        formControlName="deviceName" label="{{ 'device_name' | translate }}" [hintText]="deviceName.touched && deviceName.errors?.required
                ? ('REQUIRED_FIELD' | translate)
                : ''">
                    </us-input>

                    <div class="form-group d-flex flex-column flex-lg-row gap-lg-4 gap-2 flex-nowrap">
                        <div class="label-widget text-start w-25 d-none d-lg-block" style="min-width: 25%;">
                            <label for="phoneNumber" class="label txt txt-sm text-nowrap d-flex">
                                <span class="txt txt-sm text-black text-wrap">
                                    {{"MOBILE_NUMBER" | translate}}
                                    <em class="text-danger">*</em>
                                </span>

                            </label>
                        </div>

                        <div class="label-widget text-start w-100 d-block d-lg-none">
                            <label for="phoneNumber" class="label txt text-nowrap d-flex">
                                <span class="txt text-black text-wrap txt-sm">
                                    {{"MOBILE_NUMBER" | translate}}
                                    <em class="text-danger">*</em>
                                </span>

                            </label>

                        </div>

                        <div class="w-100">
                            <ngx-intl-tel-input
                                [cssClass]="(phoneNumber?.touched && phoneNumber.invalid ? 'error' : '') +' rounded-pill border border-1 py-2 txt-input w-100'"
                                [enableAutoCountrySelect]="true" [preferredCountries]="[CountryISO.UnitedArabEmirates]"
                                [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="selectedCountryISO" [maxLength]="15"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phoneNumber">
                            </ngx-intl-tel-input>

                            <ng-container *ngIf="phoneNumber?.touched && phoneNumber?.errors?.required">
                                <div class="hint error">
                                    <i class="si-info"></i>
                                    <span class="txt txt-xs ">{{ "REQUIRED_FIELD" | translate }}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="
              phoneNumber?.touched && phoneNumber.invalid && !phoneNumber?.errors?.required
            ">
                                <div class="hint error">
                                    <i class="si-info"></i>
                                    <span class="txt txt-xs">
                                        {{ "INCORRECT_PHONE_NUMBER" | translate }}
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <us-input [maxCharLimit]="150" [isDisabled]="false" value="" placeholder="appID" [optional]="false"
                        type="text" [error]="appID.touched && appID.errors?.required" [fullWidth]="true"
                        formControlName="appID" label="appID" [hintText]="appID.touched && appID.errors?.required
            ? ('REQUIRED_FIELD' | translate)
            : ''">
                    </us-input>
                    <us-input [maxCharLimit]="150" [isDisabled]="false" value="" placeholder="appHash"
                        [optional]="false" type="text" [error]="appHash.touched && appHash.errors?.required"
                        [fullWidth]="true" formControlName="appHash" label="appHash" [hintText]="appHash.touched && appHash.errors?.required
            ? ('REQUIRED_FIELD' | translate)
            : ''">
                    </us-input>
                    <us-input *ngIf="codeNeeded" [isDisabled]="false" value="" placeholder="code" [optional]="false"
                        type="text" [error]="(code.touched && code.errors?.required)||
            (codeNeeded && !isIvalidCode && code.errors?.required)||
            isIvalidCode
            " [fullWidth]="true" formControlName="code" label="code" [hintText]="code.touched && code.errors?.required
            ? ('REQUIRED_FIELD' | translate):
            codeNeeded && !isIvalidCode && code.errors?.required?('code_needed' | translate):
            isIvalidCode?('INVALID_CODE' | translate)
            : ''">
                    </us-input>
                    <us-input *ngIf="passNeeded" [isDisabled]="false" value="" placeholder="pass" [optional]="false"
                        type="text" [error]="(pass.touched && pass.errors?.required)||
            (passNeeded && !isInvalidPass && code.errors?.required)||
            isInvalidPass" [fullWidth]="true" formControlName="pass" label="pass" [hintText]="pass.touched && pass.errors?.required
            ? ('REQUIRED_FIELD' | translate):
            passNeeded && !isInvalidPass && code.errors?.required?('pass_needed' | translate):
            isInvalidPass?('INVALID_PASS' | translate)
            : ''">
                    </us-input>
                </div>
            </form>

        </div>
        <!-- modal footer -->
        <div class="modal-footer justify-content-center gap-3" style="height: 10%">
            <us-button label="{{ 'CANCEL' | translate }}" size="sm" appearance="primary" [fill]="false"
                (clicked)="onClose()" [loading]="false"></us-button>

            <us-button label="{{ 'SAVE' | translate }}" size="sm" [loading]="isLoading" [fill]="true"
                (clicked)="submit()" [disabled]="(form.invalid)|| isLoading ">
            </us-button>

        </div>
    </ng-container>
    <ng-container  *ngIf="showSteps">
        <app-addTLSteps (goToAddTL)="hideSteps($event)"></app-addTLSteps>
    </ng-container>

</section>