::ng-deep span.mdc-list-item__primary-text {
    font-size: 14px !important;
}

.status{
  width: 17px;
  height: 17px;
  border-radius: 50%;

}
.active{
  background: rgba(37, 255, 98, 1);

}
.inactive{
  background: rgba(255, 181, 37, 1);

}
.delay {
  ::ng-deep{
    .mat-mdc-button, .mat-mdc-outlined-button {
      --mat-mdc-button-persistent-ripple-color: white !important;
      --mat-mdc-button-ripple-color:  white !important;

  }
  }}
span{
  color: rgba(51,50,61 ,1)!important ;
}
mat-icon{
  color: rgba(51,50,61 ,1)!important;
}
