
.status{
  width: 17px;
  height: 17px;
  border-radius: 50%;

}
.active{
  background: rgba(37, 255, 98, 1);

}
.inactive{
  background: rgba(255, 181, 37, 1);

}

@media(max-width:1700px){
  .add-device-menu{
    font-size: 11px;
    line-height: 1.5;
  }
  .add-device-button{
    padding: 20px !important;
  }
  .top-section {
    margin-bottom: 15px !important;

  }

  .mat-mdc-menu-content.mdc-list {
    padding-block: 2px !important;
}

.device-type-icon{
  width:22px !important
}
.actions{
  img{
    width: 90% !important;
  }
}
}
@media(max-width:768px){
p{
  font-size: 12px !important;
}
section.component-container.devices-container  {
  padding-block: 15px !important;
}
}
.rest-style{
  background: none;
  width: fit-content;
  border: none;
  padding: 0;
  margin: 0;
}