<section class="d-flex flex-column py-4 px-3 mx-auto gap-3 h-100" style="width: 90%;">
  <!-- modal header -->
  <div class="d-flex justify-content-center align-items-center position-relative mb-lg-4 mb-0 " style="height: 10%;">
    <p class="txt-lg ms-4">{{vcfFile?('UPLOAD_VCF_SHEET'|translate): 'UPLOAD_EXCEL_SHEET' | translate }}</p>
    <div class="position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="close-icon"
        style="cursor: pointer;"
      />
    </div>
  </div>
  <!-- modal body  -->
  <div class="modal-body overflow-auto p-4 w-100"  style="height: 80%;">
    <p class="txt-sm mb-4" style="font-weight: 500;">{{ 'UPLOAD_LISTS_MESSAGE' | translate }}</p>
    <us-upload  class="w-100 "
    (onFileChange)="onFileChange($event)"
    (onFileDelete)="onFileDelete($event)"
    [(ngModel)]="fileData"
    [multiple]="false"
    [isVcfFile]="vcfFile"
    [isExcelfFile]="isExcelfFile"
    [fileType]="fileType"
    ></us-upload>

    <ng-container *ngIf="showLists">

      <form  [formGroup]="form"  class="d-flex flex-column px-2 my-3 w-100">
        <div class="d-flex justify-content-between mb-3 add-list-container">
        <div class="mx-3 lists " style="width:70% ">

          <us-select
          [withTooltip]="true"      
          tooltipMsg="{{ 'upload_add_to_list_tooltip' | translate }}"
          [readMoreLink]="null"
          [data]="listsArr"
          formControlName="selectedLists"
          [multiSelect]="false"
          [label]="'ADD_TO_LIST_LABEL' | translate"
          [placeholder]="'CHOOSE_FROM_LISTS_LABEL' | translate"
          [isDisabled]="addNewList"
          [optional]="true"
          [loadingText]="'LISTS_LOADING_TEXT' | translate"
          (onSelect)="onSelect($event)"
          [enableSearch]="true"
          [searchbarOnToggler]="true"
          [searchNoResultText]="'NO_RESULT_TEXT' | translate"
          [maxListItemsWithoutSearch]="5"
        ></us-select>
        </div>
        <div class="add-list">
          <us-button
          label="{{ 'ADD_NEW_LIST_LABEL' | translate }}"
          [matIcon]="'add'"
          [fill]="true"
          [size]="'xl'"
          [fullWidth]="true"
          [loading]="false"
          [disabled]="addNewList"
          [appearance]="'primary'"
          (clicked)="addNewList=true"
        ></us-button>
        </div>
    
  </div>
        <ng-container *ngIf="addNewList">
          <div class="d-flex justify-content-end align-items-center">

            <div class="new-list rounded-5 bg-white p-4  my-3 " style="width:80%">
              <p class="txt-sm mb-3" style="font-weight: 500;">{{ 'ADD_NEW_LIST_NAME_LABEL' | translate }}</p>
              <div class="d-flex justify-content-between">
                <div class="list-name-input" style="width: 50%;">
                  <us-input
                  [isDisabled]="false"
                  value=""
                  placeholder="{{ 'ENTER_LIST_NAME_PLACEHOLDER' | translate }}"
                  type="text"
                  [error]="false"
                  [fullWidth]="true"
                  formControlName="listName"
                  [error]=" (listName.touched && listName.errors?.required)"
                  [hintText]=" listName.touched && listName.errors?.required ? ('REQUIRED_FIELD_HINT' | translate) : '' "
                ></us-input>
                </div>

                <div class="d-flex align-items-center button-actions " >
                  <us-button
                    class="mx-3"
                  label="{{ 'SAVE_LABEL' | translate }}"
                  [fill]="true"
                  [size]="'md'"
                  [loading]="isLoading"
                  [disabled]="isLoading || form.invalid || form.get('listName').hasError('whitespace')"
                  [appearance]="'primary'"
                  (clicked)="submitAddList()"
                ></us-button>

                <us-button

                label="{{ 'CANCEL_LABEL' | translate }}"
                [fill]="false"
                [size]="'md'"
                [loading]="false"
                [disabled]="false"
                [appearance]="'primary'"
                (clicked)="cancelAddList()"
              ></us-button>

                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </ng-container>
    <div *ngIf="!vcfFile" class="d-flex align-items-center">
      <sr-checkbox
      class=" px-2"
      label="{{ 'FIRST_ROW_COLUMN_HEADER_LABEL' | translate }}"
      state="checked"
      (changed)="
      onCheck($event)
      "
    ></sr-checkbox>
    <sr-tooltip
    class="mx-2"
    [text]="'upload_first_row_with_header_check_tooltip' | translate"
    [readMoreLink]="'link'"
    >
  
    </sr-tooltip>
    </div>

  </div>
  <!-- modal footer -->
  <div class="modal-footer justify-content-end gap-3"  style="height: 10%;">
    <us-button
      label="{{ 'UPLOAD_LABEL' | translate }}"
      size="sm"
      [fill]="true"
      [disabled]="isDisabled || loading  || addNewList"
      [loading]="loading"
      (clicked)="vcfFile ? uploadVCFfile(): goToFileSetting()"
    ></us-button>
  </div>
</section>
