
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px;
}
.icon{
  cursor: pointer;
}

@media(max-width:768px){
  .row.m-0.d-flex.justify-content-center.align-items-center.my-5 {
    margin-block: 10px !important;
    img{
      width: 90%!important;

    }
}
}