<section class="d-flex flex-column p-4 gap-3 h-100">
  <!-- modal header -->
  <div class="d-flex justify-content-center align-items-center position-relative  " style="height: 5%;">
    <div *ngIf="!isEdit" class="txt-lg">{{ 'ADD_LIST' | translate }}</div>
    <div *ngIf="isEdit" class="txt-lg">{{ 'EDIT_DATA' | translate }}</div>
    <div class=" close-icon position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="{{ 'CLOSE_ICON_ALT_TEXT' | translate }}"
        style="cursor: pointer;width: 32px;"
      />
    </div>
  </div>
  <!-- modal body  -->
  <div class="modal-body overflow-auto px-1"  style="height: 80%;">
    <form [formGroup]="form" class="w-100 ">
      <div class="mt-4">

        <us-input
        [isDisabled]="false"
        value=""
        placeholder="{{ 'NAME_LABEL' | translate }}"
        label="{{ 'NAME_LABEL' | translate }}"
        [optional]="false"
        type="text"
        formControlName="name"
        [error]="(name.touched && name.errors?.required) ? ('this_field_is_required' | translate) : ''"
        [hintText]="(name.touched && name.errors?.required) ? ('this_field_is_required' | translate) : ''"
      ></us-input>
      </div>
   
      <!-- <div class="form-group">
        <label for="name" class="mb-2 ">{{ 'NAME_LABEL' | translate }}</label>
        <input
          type="text"
          class="form-control p-2"
          id="name"
          placeholder="{{ 'ENTER_NAME_PLACEHOLDER' | translate }}"
          formControlName="name"
        />
      </div> -->
      <!-- <span  *ngIf="name.invalid && name.touched" class="animate__animated anime-duration-800 animate__fadeInUp text-danger d-flex gap-1 rounded-2  bg-opacity-10 p-2">
        <mat-icon class="text-danger" style="height: 20px;width: 20px; font-size: 20px;">error</mat-icon>
        <span class="text-danger text-wrap d-flex flex-column">
          <span class="text-danger" *ngIf="name.errors.required">{{ 'REQUIRED_FIELD_ERROR' | translate }}</span>
        </span>
      </span> -->
     <div class="row m-0 d-flex justify-content-center align-items-center my-5 ">
      <div class="col-lg-7 col-8 p-0 image-container" style="position: relative;">
        <img
        *ngIf="!isEdit"
        class="w-100"
          src="assets/images/add-file.svg"
          alt=""
          style="object-fit: contain;opacity: .8;"
        />
        <img
        *ngIf="isEdit"
        class="w-100"
          src="assets/images/edit-file.svg"
          alt=""
          style="object-fit: contain;opacity: .8;"
        />

      </div>
     </div>

    </form>
  </div>
  <!-- modal footer -->
  <div class="modal-footer justify-content-center gap-3"  style="height: 10%;">
    <us-button  *ngIf="!isEdit"
      label="{{ 'ADD_LABEL' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submitAdd()"
      [disabled]="form.invalid || isLoading"
    ></us-button>
    <us-button
    *ngIf="isEdit"
    label="{{ 'UPDATE_LABEL' | translate }}"
    size="sm"
    [loading]="isLoading"
    [fill]="true"
    (clicked)="submitEdit()"
    [disabled]="form.invalid || isLoading"
  ></us-button>
    <us-button
      label="{{ 'CANCEL_LABEL' | translate }}"
      size="sm"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
  </div>
</section>
