
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px;
}
.icon{
  cursor: pointer;
}

@media(max-width:768px){
  .modal-body {
    height: 90% !important;
}
  .row.m-0.d-flex.justify-content-center.align-items-center.my-5 {
    margin-block: 25px !important;
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 75%!important;

    }
}
}