<div class="p-4 px-2 d-flex gap-3" style="border-radius: 15px;    height: 90vh;
">

    <div style="width: 30%;max-width: 400px;
    min-width: 290px;" class="mt-1 p-3   d-flex flex-column innerContainer ">
 <form [formGroup]="form"class="d-flex" style=" margin-inline: 20px;">
    <us-select
    class="my-3"
    [isListDevicesDropdown]="true"
    [labelTopInMobileView]="false"
    [deviceLableGap]="true"
      [data]="devices"
      formControlName="devicesData"
      [multiSelect]="false"
      [label]="'Devices' | translate"
      (onSelect)="onSelect($event)"
      [loadingText]="deviceLoadingText"
      [placeholder]="'Select Devices' | translate"
      [isDisabled]="false"
      [optional]="true"
      [enableSearch]="true"
      [searchbarOnToggler]="true"
      [searchNoResultText]="'THERE_IS_NO_RESULT' | translate"
      [maxListItemsWithoutSearch]="5"

    ></us-select>
  </form>

        <div class="d-flex justify-content-between align-items-center  my-2">

            <div class="d-flex justify-content-between position-relative searchContainer">
                <div class=" p-0 w-100">
                    <input #searchInput type="text" class="form-control ps-5  txt-xs" id="searchInput"
                        placeholder="Search">
                </div>
                <div class=" px-4  position-absolute start-0 top-50 translate-middle-y">
                    <img src="assets/icons/search.svg" alt="">
                </div>
            </div>

            <div class="addBtn  py-2" (click)="addNewContact()">
                <a style="cursor: pointer;">
                    <img src="../assets/icons/chats-icon.svg" alt="">
                </a>
            </div>

        </div>
        <div class="contacts-container">
            <!-- undelivered -->
            <div class="my-2   p-3 leftContentDesign">
                <div class="d-flex gap-2 ">
                    <div class="deviceContent ">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <p class="mb-1 pOut">Suporte ADMIN</p>
                        <div class=" d-flex align-items-center gap-2">
                            <img  src="../assets/icons/chats-icon-2.svg" alt="">
                            <p class="m-0 p-0  pIn">
                                Pesquisar chat</p>
                        </div>
                    </div>
    
                </div>
                <div>
                    <a style="cursor: pointer;">
                        <img src="../assets/icons/Actionsc.svg" alt="">
                    </a>
                </div>
            </div>
            <!-- failed -->
            <div class="my-2   p-3 leftContentDesign">
                <div class="d-flex gap-2 ">
                    <div class="deviceContent">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center ">
                        <p class="mb-1 pOut">Suporte ADMIN</p>
                        <div class=" d-flex align-items-center ">
                            <span style="color:#FF0000" class="m-0 p-0  pIn">Failed</span>
                        </div>
                    </div>
                </div>
    
                <div>
                    <a style="cursor: pointer;">
                        <img src="../assets/icons/Actionsc.svg" alt="">
                    </a>
                </div>
            </div>
            <!-- new message state -->
            <div class="my-2   p-3 leftContentDesign">
                <div class="d-flex gap-2 ">
                    <div class="deviceContent">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center ">
                        <p class="mb-1 pOut">Suporte ADMIN</p>
                        <div class=" d-flex align-items-center ">
                            <p class="m-0 p-0  pIn">Pesquisar chat</p>
                        </div>
                    </div>
                </div>
    
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column justify-content-center align-items-center mx-3">
                        <div class="messages-count">
                            <span>1800</span>
                        </div>
                        <span class="msg-time text-primary-800" >8:00 PM</span>
                    </div>
                    <div>
                        <a style="cursor: pointer;">
                            <img src="../assets/icons/Actionsc.svg" alt="">
                        </a>
                    </div>
    
                </div>
    
            </div>

            <!-- sent -->
            <div class="my-2   p-3 leftContentDesign">
                <div class="d-flex gap-2 ">
                    <div class="deviceContent ">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <p class="mb-1 pOut">Suporte ADMIN</p>
                        <div class=" d-flex align-items-center gap-2">
                            <img  src="../assets/icons/right-blue.svg" alt="">
                            <p class="m-0 p-0  pIn">
                                Pesquisar chat</p>
                        </div>
                    </div>
    
                </div>
                <div>
                    <a style="cursor: pointer;">
                        <img src="../assets/icons/Actionsc.svg" alt="">
                    </a>
                </div>
            </div>
            
            <!-- read -->
            <div class="my-2   p-3 leftContentDesign">
                <div class="d-flex gap-2 ">
                    <div class="deviceContent">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center ">
                        <p class="mb-1 pOut">Suporte ADMIN</p>
                        <div class="chat-contact-img small ">
                            <span>SA</span>
                        </div>
                    </div>
                </div>
    
                <div>
                    <a style="cursor: pointer;">
                        <img src="../assets/icons/Actionsc.svg" alt="">
                    </a>
                </div>
            
        </div>

        </div>

    </div>

    <div  class=" chats-container pb-0 "  style="background-image: url(../assets/images/chat-background.svg)">
        <!-- Header -->
        <div
            style=" border-top-left-radius: 20px;border-top-right-radius: 20px; background: var(--clr-primary-500);">
            <div class="p-3 d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2">
                    <div class="deviceContent">
                        <img src="../assets/icons/Icon.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 pOut">Suporte ADMIN</p>
                        <p class="pInHeader mb-0 mt-2">#CU6798H</p>

                    </div>
                </div>

                <div>
                    <a style="cursor: pointer;">
                        <img src="assets/icons/search-blue.svg" alt="">
                    </a>
                </div>

            </div>
        </div>
        <!-- Bodey -->
       
        <div class="chat-body">

            <div class="received-chats">
                <div class="chat-contact-img">
                        <span>SA</span>
                </div>
                <div class="received-chats-msg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aspernatur provident? A libero accusantium omnis ab ratione explicabo error quod hic nostrum. Nemo, adipisci aspernatur odio beatae dolore perferendis quasi?,</p>
                    <span class="time">8:00 PM </span>
                </div>
            </div>
            <div class="received-chats">
                <div class="chat-contact-img">
                        <span>SA</span>
                </div>
                <div class="received-chats-msg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aspernatur provident? A libero accusantium omnis ab ratione explicabo error quod hic nostrum. Nemo, adipisci aspernatur odio beatae dolore perferendis quasi?,</p>
                    <span class="time">8:00 PM</span>
                </div>
            </div>
            <div class="received-chats">
                <div class="chat-contact-img">
                        <span>SA</span>
                </div>
                <div class="received-chats-msg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aspernatur provident? A libero accusantium omnis ab ratione explicabo error quod hic nostrum. Nemo, adipisci aspernatur odio beatae dolore perferendis quasi?,</p>
                    <span class="time">8:00 PM</span>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-center  align-items-center">
                <span>Today</span>
            </div>
            <div class="outgoing-chats">
         
                <div class="outgoing-chats-msg">
                    <p >Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="time">18:30 PM</span>
                </div>
             
            </div>
            <div class="outgoing-chats">
         
                <div class="outgoing-chats-msg">
                    <p >Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="time">18:30 PM</span>
                </div>
             
            </div>
            <div class="outgoing-chats">
                <div class="d-flex flex-column gap-2">
                    <div class="outgoing-chats-msg">
                        <p >Lorem ipsum dolor sit amet consectetur.</p>
                        <span class="time">18:30 PM</span>
                    </div>
                    <div class="chat-contact-img small" style="align-self: self-end;">
                        <span>SA</span>
                    </div>
                </div>
               
                
            </div>
        </div>
        <!-- footer -->
        <div class="chats-footer w-100 p-3 bg-primary-500">
            <div class="d-flex align-items-center justify-content-around" style="width: 10%; max-width: 106px;    gap: 5px;
            margin-inline: 10px;">
                <div class="attactmentes" >
                    <img src="../assets/icons/Fill 1.svg" alt="">
            </div>
    
            <div class="emojes-picker" >
                    <img src="../assets/icons/emojes.svg" alt="">
            </div>
            </div>
     
            
            <div style="width: 83%;">
                <textarea class="form-control" [placeholder]="'Type a message' |translate"></textarea>
            </div>
            
            
            <button style="width: 5%;" class="sendBtn" style="cursor: pointer;">
                <img src="../assets/icons/send.svg" alt="">
            </button>
        </div>
  

    </div>

</div>