<section class="p-3">

  <div class="d-flex justify-content-between pt-2 align-items-center">
    <div class="d-flex gap-3 flex-column ">
      <div >
        <span class="text-primary-800 pointer "(click)="backTolists()" >{{ 'LISTS' | translate }}</span> / <span style="color:rgba(134, 134, 134, 1)">{{ list?.name }}</span>
      </div>

      <div *ngIf="list?.createdAt" class="mb-3 d-flex gap-2 align-items-center w-100"><p class="txt-lg" style="font-weight: 500;">{{ list?.name }}</p> <p class="txt-xs mb-2" style="font-weight: 500; color:rgba(134, 134, 134, 1)">{{ list?.createdAt | toLocalTime  | date: 'h:mm a , M/d/y ' }}</p></div>

    </div>
    <div class="buttons_ ">
      <us-button
      *ngIf="isChecked  && canEdit"
        class="m-2"
        label="{{ 'DELETE' | translate }}"
        img="assets/icons/delete.svg"
        [iconClass]="'material-symbols-outlined'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'danger'"
        (clicked)="openDeleteConModal()"
      ></us-button>
      <us-button
      *ngIf="isChecked && tab=='contacts'  && canEdit "
        class="m-2"
        label="{{ 'REMOVE_FROM_LIST' | translate }}"
        img="assets/icons/delete.svg"
        [iconClass]="'material-symbols-outlined'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'danger'"
        (clicked)="removeContacts()"
      ></us-button>
      <us-button
      *ngIf="tab=='contacts'  && canEdit"
      class="m-2"
      label="{{ 'ADD_CONTACT' | translate }}"
      [matIcon]="'add'"
      [fill]="true"
      [size]="'md'"
      [loading]="false"
      [disabled]="false"
      [appearance]="'primary'"
      (clicked)="openContactLists()"
    ></us-button>

    <us-button
    class="m-2"
    [label]="'IMPORT_FILE' | translate"
    img="assets/icons/import.svg"
    [fill]="true"
    [size]="'md'"
    [loading]="false"
    [disabled]="false"
    [appearance]="'primary'"
    (clicked)="openImportModal()"
  ></us-button>

      <us-button
        class="m-2"
        [label]="isChecked ? ('EXPORT_SELECTED'| translate) : 'EXPORT_ALL' | translate"
        img="assets/icons/export.svg"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="isChecked ? exportSelectedContacts() : exportAllContacts()"
      ></us-button>
    </div>

  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="transparent" (selectedTabChange)="changeModal($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-primary-800 me-2" style="font-weight: 800;">{{totalContacts }}</span>
          {{ 'CONTACTS' | translate }}

      </ng-template>
      <app-list-contacts [count]="count" [isCanceled]="false" [listData]="list" (updatedCount)="updateTotalContacts($event)" (isChecked)="onChecked($event)"></app-list-contacts>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label >

          {{ 'CANCELED' | translate }}

      </ng-template>
      <app-list-contacts [count]="count" [isCanceled]="true" (updatedCount)="updateTotalContacts($event)"></app-list-contacts>
    </mat-tab>
  </mat-tab-group>

</section>
