<div class="container-fluid ps-0 bg-primary-100">
  <div class="row">
    <div class=" bg-primary-200 mx-auto text-center vh-100 col-md-4 p-5 d-flex flex-column justify-content-center align-items-center"
      style=" box-shadow: 0px 11px 22px 0px #00000029">
      <div class="col-md-12 mx-auto text-center">
        <img src="/assets/images/logo.svg" alt="" class="my-3" />
        <h3 class="my-3" style="font-family: Poppins; font-weight: 500">
          Create your account
        </h3>

        <us-button label="Sign up with Google" [size]="'xl'" [loading]="false" [disabled]="false"
          img="assets/images/google logo.svg" [appearance]="'primary'" class="my-2" >
        </us-button>
        <div class="d-flex justify-content-center align-items-center my-3">
          <div style="width: 45%; height: 1px; background-color: #b5b3b3"></div>
          <div class="mx-2">
            <p style="color: #b5b3b3">Or</p>
          </div>
          <div style="width: 45%; height: 1px; background-color: #b5b3b3"></div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <us-input class="my-3" [label]="'Email Address'" [type]="'email'" [placeholder]="'Enter your email'"></us-input>
      </div>
      <div class="col-md-12 mb-3">
        <us-input class="my-2" [label]="'Password'" [type]="'password'"
          [placeholder]="'Enter your password'"></us-input>
      </div>
     <div class="col-md-12 mb-3">
        <us-input class="my-2" [label]="'Confirm Password'" [type]="'password'"
          [placeholder]="'Enter your password'"></us-input>
      </div>
     <div class="col-md-12 mb-3">
        <us-input class="my-3" [label]="'Username'" [type]="'text'" [placeholder]="'Enter your name'"></us-input>
      </div>
      <div class="col-md-12 mt-3">
        <us-button class="m-2" label="signup" [fill]="true" [size]="'xl'" [loading]="false" [disabled]="false"
          [appearance]="'primary'">
        </us-button>
        <div class="d-flex my-3 justify-content-center">
          <p style="font-weight: 500" class="mx-2">Already have an account?</p>
          <a style="text-decoration: none; font-weight: 500" routerLink="/login">Login
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-md-8 p-5 pt-1 mx-auto d-flex flex-column align-items-center justify-content-center text-center mx-auto">
      <div class="w-75 text-center mx-auto">
        <img src="assets/images/Connected-cuate 2.svg" alt="" class="w-100 text-center mx-auto" />
        <p class="text-center mx-auto" style="color: #292a32">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
      </div>
    </div>
  </div>
</div>

