<section class="d-flex flex-column gap-3 h-100 position-relative pt-5">
  <!-- modal header -->
  <div class="px-4">
    <div class="d-flex justify-content-center align-items-center flex-column mb-4">
      <div class="close-icon">
        <!-- <mat-icon class="text-neutral-0">close</mat-icon> -->
      </div>
    </div>
    <!-- modal body -->
    <div class="content d-flex justify-content-center align-items-center flex-column h-100 gap-4">
   
      <!-- displayed message -->
      <p class="txt-lg my-2 text-center" style="line-height: 1.3; text-transform: capitalize;">{{ 'CONFIRM_LOGOUT_MSG' | translate }}</p>

    </div>
  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center position-absolute bottom-0 w-100 gap-3" style="height: 89px; background:#DBE9F2;">
    <us-button
      label="{{ 'CONFIRM' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submit()"
      [disabled]="isLoading"
    ></us-button>

    <us-button
      label="{{ 'CANCEL' | translate }}"
      size="sm"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
  </div>
</section>
