<section class="d-flex flex-column p-5 gap-3 h-100">
  <!-- modal header -->
  <div class="d-flex justify-content-between align-items-center mb-4 " style="height: 10%;">
    <div class="txt-lg" style="font-weight: 800;">{{ 'ADD_CONTACTS_TO_LISTS' | translate }}</div>
    <img
      src="assets/icons/close-circle.svg"
      (click)="onClose()"
      alt="{{ 'CLOSE_ICON_ALT_TEXT' | translate }}"
      style="cursor: pointer;"
    />
  </div>

  <!-- modal body  -->
  <form [formGroup]="searchForm" class="d-flex position-relative w-100 m-0">
    <input #search type="text" class="form-control ps-5 w-100 txt-xs" id="search" placeholder="{{ 'searchPlaceholder' | translate }}"
    formControlName="searchControl">
    <div class="icon px-4 w-fit position-absolute start-0 top-50 translate-middle-y">
      <img src="assets/icons/search.svg" alt="" width="14">
    </div>
  </form>
  <div class="table-container " style="height: 80%;" >
    <div class="table-inner-container" *ngIf="!noData">

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <!-- Checkbox Column -->
        <ng-container  matColumnDef="select">
          <th class="checkBox" mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="ch-color"
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            ></mat-checkbox>
          </th>
          <td  class="checkBox" mat-cell *matCellDef="let row">
            <mat-checkbox
              color="ch-color"
              (click)="$event.stopPropagation() && selectedRow($event)"
              (change)="$event ? this.selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            ></mat-checkbox>
          </td>
        </ng-container>
        <!-- My Lists Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{isFromListDetails? ('Contacts' | translate): 'MY_LISTS' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <!-- Contacts Column -->
        <ng-container matColumnDef="totalContacts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTACTS' | translate }}</th>
          <td mat-cell *matCellDef="let element"><span class="contacts">{{ element.totalContacts }}</span></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
  
      </table>
    </div>
    <div *ngIf="loading" class="spinner-container p-3">
      <svg width="70" height="70" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center; animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
    </div>
    <div *ngIf="noData && !loading" class="d-flex justify-content-center align-items-center flex-column gap-3 h-100  w-100" >
      <img src="assets/images/files.svg" alt="" style="    width: 40%;    max-width: 143px;

      ">
      <span class="text-neutral-600 no-data" style="font-size: 20px; font-weight: 600;">{{ 'NO_DATA' | translate }}</span>
    </div>
  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center gap-3" style="height: 10%;">
    <us-button
      label="{{ 'CANCEL' | translate }}"
      size="sm"
      [fill]="false"
      (clicked)="onClose()"
      [loading]="false"
    ></us-button>
    <us-button
      label="{{ 'SAVE' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submitAdd()"
      [disabled]="!contacts || isLoading"
    ></us-button>
  </div>
</section>
