::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 25px;
  }
._image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--clr-neutral-400);
  &.seen{
    width: 25px !important;
    height: 25px !important;
    font-size: 10px;
  }
}

.message{
  line-height: 34px;
  max-width: 80%;

}
.message-container{
  position: relative;

  ::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
    height: 1px;
    background-color: var(--clr-neutral-400);
  }
}
.status{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  &.sent{
    border: 1px solid var(--clr-primary-800);
    color: var(--clr-primary-800);
  }
  &.pending{
    color: var(--clr-neutral-0);
    background-color: var(--clr-neutral-0);
    border: 1px solid var(--clr-primary-800);
  }
  &.delevered{
    background-color:var(--clr-primary-800) ;
    color: var(--clr-neutral-0);

  }


}
