<section class="h-100 position-relative d-flex px-3 flex-column">

  <div class="position-absolute end-0 pointer ranslate-middle-y mx-3 zi-3 " style="height: 5%; top:12px ">
    <img
      src="assets/icons/close-circle.svg"
      (click)="onClose()"
      alt="close-icon"
      style="cursor: pointer; width: 20px;"
    />
  </div>
  <div class="d-flex gap-4 mt-4 flex-column">
      <div class="devData-container d-flex w-100 justify-content-between">
        <div class="device-data d-flex gap-3">
          <div class="_image d-flex justify-content-center align-items-center">
              <span class="text-neutral-0 txt-sm">{{lastTwoNums}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <h2 class="mb-0">{{message?.targetPhoneNumber}}</h2>
            <span class="txt-xs text-neutral-500">{{message?.device?.deviceName}}</span>
          </div>
        </div>
        <div class="date-time d-flex justify-content-center align-items-center">
          <span class="txt-sm text-neutral-500">{{message?.createdAt | date: ' d/M/yy , h:mm a '}}</span>
        </div>
      </div>
      <div class="message-container position-relative ms-5">
        <p class="txt-md ms-3 text-neutral-900 message">{{message?.msgBody}}</p>

       <ng-container *ngIf="message?.status!=null">
        <ng-container *ngIf="message.status!=3 && message.status!=4">

          <mat-icon
          [ngClass]="{'pending':message.status==0,
                      'sent':message.status==1,
                      'delevered':message.status==2}"
          class="status position-absolute end-0 bottom-0 d-flex justify-content-center align-items-center  txt-xs">check</mat-icon>

        </ng-container>

        <ng-container *ngIf="message.status==3">

          <div class="_image seen d-flex justify-content-center position-absolute end-0 bottom-0 align-items-center">
            <span class="text-neutral-0 ">{{lastTwoNums}}</span>
        </div>
        </ng-container>

        <ng-container *ngIf="message.status==4">


        </ng-container>
       </ng-container>
      </div>
  </div>

</section>
