<div class="row w-100 my-5 " style="height: 70%; place-content: space-around">
  <!-- lists and contacts with search -->
  <div class="col-5 d-flex gap-3 flex-column me-2 select-contacts">
    <div class="d-flex position-relative w-100 m-0">
      <div class="w-100">
        <form [formGroup]="searchForm">
          <us-select
            (onClose)="onClose($event)"
            (onSearch)="onSearch($event)"
            (onSelect)="onSelect($event)"
            (onDeSelect)="onDeSelect($event)"
            [data]="allContacts"
            [multiSelect]="true"
            [isDisabled]="false"
            [enableSearch]="true"
            [searchbarOnToggler]="true"
            [enableParentSearch]="true"
            [searchNoResultText]="'NO_RESULT_FOUND' | translate"
            [maxListItemsWithoutSearch]="5"
            [enableDropdownWhileSearching]="true"
            [isSearchOnly]="true"
            formControlName="contactsData"
            placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
            searchPlaceholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
          ></us-select>
        </form>
      </div>
    </div>
    <div class="lists py-3">
      <div class="d-flex justify-content-between align-items-center w-100 px-4 pb-2 txt-sm lists-top">
        <sr-checkbox
          label="{{ 'SELECT_ALL' | translate }}"
          [state]="
          selectAllStatus === 1 ? 'mid' : selectAllStatus === 2 || selectedListsNum ? 'checked' : ''
          "
          (changed)="selectAllLists($event)"
          style="font-weight: 500"
        ></sr-checkbox>
        <div class="sort-by bg-neutral-0">
          <button mat-button [matMenuTriggerFor]="menu" class="text-neutral-0">
            <div
              class="d-flex align-items-center gap-2 txt-sm"
              style="font-weight: 500"
            >
              <span>{{ sortBy ? sortBy : 'SORT_BY' | translate }}</span>
              <mat-icon>expand_more</mat-icon>
            </div>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortBy='Ascending'; getLists('nameASC')">
              {{ 'ASCENDING' | translate }}
            </button>
            <button mat-menu-item (click)="sortBy='Descending'; getLists('nameDEC')">
              {{ 'DESCENDING' | translate }}
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="line"></div>

      <div class="lists-body">
        <div class="lists-body-container">

          <ng-container>
            <mat-accordion>

              <mat-expansion-panel
              *ngFor="let listContact of allLists; let i = index"
              class="custom-panel"

              (opened)="onAccordionOpened(listContact)"
              [expanded]="(listContact.list.isChecked ==='' && listContact.list?.shoudBeClosed)"
            >
              <mat-expansion-panel-header   class="zi-2">
                <mat-panel-title>
                  <div class="d-flex gap-4">
                    <sr-checkbox
                      class="zi-5"
                      [label]="listContact.list?.name"
                      [state]="listContact.list.isChecked"
                      [(ngModel)]="listContact.list.isChecked"
                      (changed)="onSelectList($event,listContact)"
                    ></sr-checkbox>
                    <span class="txt-sm total">{{ listContact.list.totalContacts }}</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="contacts-container d-flex gap-4 align-items-center flex-wrap p-3">
                <ng-container *ngFor="let contact of listContact.contacts">
                  <sr-checkbox
                  (click)="onHeaderClick($event,contact.isChecked)"
                    class="txt-sm"
                    [label]="contact?.name"
                    (changed)="onSelectContact($event, listContact,contact)"
                    [state]="contact.isChecked"
                    [(ngModel)]="contact.isChecked"
                  ></sr-checkbox>
                </ng-container>
              </div>
            </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- added contacts and mobile input -->
  <div class="col-6 d-flex gap-4 flex-column">
    <div class="contacts py-4">
      <div
        class="contacts-heading px-4 d-flex justify-content-between align-items-center"
        (click)="clearContacts()"
      >
        <span class="txt-md">{{ 'CONTACTS' | translate }}</span>
        <span class="d-flex align-items-center gap-2 pointer" >
          <img src="assets/icons/clear.svg" alt="" />
          <span class="txt-md text-primary-800"
            >{{ 'CLEAR' | translate }}</span
          >
        </span>
      </div>
      <div class="contacts-body px-4">
        <div class="d-flex flex-wrap mt-4 gap-3">
          <ng-container *ngIf="addedContacts.length != 0">
            <ng-container *ngFor="let contact of addedContacts">
              <sr-tag
                maxWidth="120px"
                [title]="contact?.name"
                (onClose)="removeContact(contact)"
              >
              </sr-tag>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="addHocs.length != 0">
            <ng-container *ngFor="let addHoc of addHocs">
              <sr-tag
                maxWidth="120px"
                [title]="addHoc"
                (onClose)="removeNum(addHoc)"
              >
              </sr-tag>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mobile-num p-4">
      <p class="txt-md">{{ 'ADDHOC_NUMBER' | translate }}</p>
      <div class="d-flex align-items-center gap-3">
        <div class="w-100">
          <form [formGroup]="form">
            <ngx-intl-tel-input
              cssClass="rounded-pill border border-1 py-2 txt-input w-100"
              [enableAutoCountrySelect]="true"
              [preferredCountries]="[CountryISO.UnitedArabEmirates]"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Egypt"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="mobile"
            >
            </ngx-intl-tel-input>
          </form>
          <ng-container
            *ngIf="
              mobile?.touched && mobile.invalid && !mobile?.errors?.required
            "
          >
            <div class="hint error">
              <i class="si-info"></i>
              <p class="txt txt-xs">{{ 'INCORRECT_PHONE' | translate }}</p>
            </div>
          </ng-container>
        </div>
        <div class="add-button">

          <us-button
            class="m-2"
            label="{{ 'ADD' | translate }}"
            [fill]="true"
            [size]="'xl'"
            [loading]="false"
            [disabled]="form.invalid"
            [fullWidth]="true"
            [appearance]="'primary'"
            (clicked)="addHocNumber()"
          >
          </us-button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end align-items-center buttons" style="width: 98%; ">
    <button class="rest-style" matStepperNext [disabled]="getAllContactsData().length == 0">
      <us-button
        class="m-2"
        label="{{ 'NEXT' | translate }}"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [appearance]="'primary'"
        (clicked)="allContactsToParent()"
        [disabled]="getAllContactsData().length == 0"
      >
      </us-button>
    </button>
  </div>
</div>
