#search{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border: 0.4px solid rgb(134 134 134 / 22%);

}
.lists{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
  position: relative;
 .line{
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color:#dee2e6;
  z-index: 3;
  
}
  .lists-body{
    height: 300px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    .lists-body-container{
    height: 100%;
    overflow-y: auto;
    border-radius: 24px;

   }
    }

  .sort-by {
    ::ng-deep{
      .mat-mdc-button, .mat-mdc-outlined-button {
        --mat-mdc-button-persistent-ripple-color: white !important;
        --mat-mdc-button-ripple-color:  white !important;

    }
    }

    span{
      color: rgba(51, 50, 61, 1) !important;

    }
    mat-icon{
      color: rgba(51, 50, 61, 1) !important;

    }
  }
}

.contacts{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
  .contacts-body{
    height: 225px;
    overflow-y: auto;
  }
}
.mobile-num{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
}

.accordion-button:not(.collapsed) {
   color: #212529 !important;
   background-color: white !important;
  }
  .accordion-button:focus {
    border-color: white !important;
    box-shadow: none !important;
  }
  .accordion-item:last-of-type {
    border-bottom: 0 !important;
}
::ng-deep {

  .mat-expansion-panel{
    box-shadow: none !important;
    border-bottom: 1px solid #dee2e6 !important;

  }
  .mat-expansion-panel:last-of-type{
    border-bottom:none !important;
  }
  .mat-expansion-panel-header{
    height: 55px !important;


  }
  .mat-expansion-panel-header:hover{
    background:none !important;
  }
  .mat-expansion-panel-header-title {
    font-size: 16px !important;
    color: #212121 !important;
}

}

.contacts-container {
  max-height: 120px;
  overflow: auto;
  margin-top: 10px;
}
@media (max-width: 1700px ) {
  .row.w-100.my-5 {
    margin-block: 20px !important;
}
.lists.py-3 {
  padding-block: 5px !important;
}
.line {
  top: 48px !important;
}
// .lists-body {
//   height: 295px !important;
// }
// .contacts-body.px-4 {
//   height: 258px !important;
// }

.contacts.py-4 {
  padding-block: 10px !important;
}
.d-flex.flex-wrap.mt-4.gap-3 {
  margin-top: 12px !important;
}

.mobile-num.p-4 {
  padding: 14px 20px 14px 28px!important;
}
p.txt-md {
  font-size: 12px !important;
  margin-bottom: 7px !important;

}
.col-6.d-flex.gap-4.flex-column {
  gap: 14px !important;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  height: 41px !important;
}
.select-contacts{
  gap: 11px !important;
}

 .lists-body {
    height: 219px !important;
  }
  .contacts-body.px-4 {
    height: 178px !important;
  }
  .contacts-container{
    gap: 15px !important;

  }
}
@media (max-width: 1400px) {
  .lists-body {
    height: 219px !important;
  }
  .contacts-body.px-4 {
    height: 178px !important;
  }
}
@media(max-width:768px){
  .row {
    place-content:unset !important;
    gap: 15px;

    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    .select-contacts {
      width: 100% !important;
  }
  .col-6.d-flex.gap-4.flex-column{
    width: 100% !important;
    margin-bottom: 40px;

  }
  .mobile-num {
    .mobile-num-container{
      flex-direction: column;
      align-items: end !important;
    }
    .add-button{
      width: 30%;

    }
  
  }
  
}

}

button.rest-style {

  width: 130px !important;
}
.buttons {
  gap: 12px !important;
}
@media(max-width:768px){
  .buttons{
    width: 95% !important;
    position: unset !important;
    margin-top: 20px;
  }
  button.rest-style {
      width: 45% !important;
  } 
 
}