

<section class="d-flex flex-column p-4 gap-3 h-100">
  <!-- modal header -->
  <div
    class="d-flex justify-content-center align-items-center position-relative"
    style="height: 10%"
  >
    <div class="txt-lg">{{ "SETTING" | translate }}</div>
    <div class="position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        (click)="onClose()"
        src="assets/icons/close-circle.svg"
        alt="close-icon"
        style="cursor: pointer"
      />
    </div>
  </div>

  <!-- modal body -->
  <div class="modal-body overflow-auto px-1" style="height: 80%">
    <form [formGroup]="form" class="w-100 m-auto">
      <div class="d-flex gap-4 flex-column py-3">
        <!-- Token -->
      <div *ngIf="!isUser" class="d-flex align-items-center">
        <div style="width:80%">
          <us-input
          formControlName="apiToken"
          value=""
          [optional]="true"
          type="text"
          [label]="'Token' | translate"
          [error]="false"
          [fullWidth]="true"
        ></us-input>
        </div>

        <div class=" d-flex justify-content-center align-items-center mx-2 pointer " style="box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 11px;
        border: 1px solid rgba(160, 160, 160, 1);
        width: 6%;
        height: 44px;

    "
              (click)="generateGuid()"

    >
    <div style="width:4% " class="image-container  d-flex justify-content-center align-items-cente">
      <img src="../assets/icons/reload.svg" alt="" style="object-fit: contain;">
    </div>

      </div>




    <div class=" d-flex justify-content-center align-items-center mx-2 pointer  " style="box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 11px;
    border: 1px solid rgba(160, 160, 160, 1);
    width: 6%;
    height: 44px;

"
(click)="copyToClipboard()">
<div style="width:4% " class="image-container  d-flex justify-content-center align-items-cente">
      <img src="../assets/icons/copy.svg" alt="" style="object-fit: contain;">
    </div>

  </div>
      </div>
        <!-- Time Zone -->
        <div style="width:80%">
        <us-select
          [data]="timeZoneArr"
          [multiSelect]="false"
          [label]="'Time Zone' | translate"
          [placeholder]="'(UTC -03:00) Salvador' | translate"
          [isDisabled]="false"

          [optional]="true"
          [enableSearch]="true"
          [searchbarOnToggler]="true"
          [searchNoResultText]="'there is no result' | translate"
          [maxListItemsWithoutSearch]="5"
          (onSelect)="onSelect($event)"
          formControlName="timeZone"
        ></us-select>
</div>
        <!-- Username -->
        <div style="width:80%">
        <us-input
          formControlName="contactName"
          [isDisabled]="false"
          value=""
          [optional]="true"
          type="text"
          [label]="'Username' | translate"
          [error]="false"
          [fullWidth]="true"
        ></us-input>
        </div>
        <!-- phone number -->

        <div *ngIf="!isUser"
          class="form-group d-flex gap-lg-5 flex-column flex-lg-row flex-nowrap" style="width:80%"
        >
          <div
            class="label-widget text-start w-25 d-none d-lg-block"
            style="min-width: 25%"
          >
            <label for="mobile" class="label txt txt-sm text-nowrap d-flex">
              <span class="txt txt-sm text-black text-wrap">{{
                "MOBILE_NUMBER" | translate
              }}</span>
            </label>
          </div>
          <div class="w-100">
            <ngx-intl-tel-input
              [cssClass]="
                (mobile?.touched && mobile.invalid ? 'error' : '') +
                ' rounded-pill border border-1py-2 txt-input w-100'
              "
              [enableAutoCountrySelect]="true"
              [preferredCountries]="[CountryISO.UnitedArabEmirates]"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Egypt"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="mobile"
            ></ngx-intl-tel-input>

            <ng-container *ngIf="mobile?.touched && mobile?.errors?.required">
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">{{ "REQUIRED_FIELD" | translate }}</p>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                mobile?.touched && mobile.invalid && !mobile?.errors?.required
              "
            >
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">
                  {{ "INCORRECT_PHONE_NUMBER" | translate }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- Organization Name -->
        <div *ngIf="!isUser" style="width:80%">
        <us-input
          [placeholder]="'Organization Name' | translate"
          formControlName="organisationName"
          value=""
          [optional]="true"
          type="text"
          [label]="'Organization Name' | translate"
          [error]="false"
          [fullWidth]="true"
        ></us-input>
        </div>
        <!-- Mask Type -->
        <div *ngIf="!isUser" style="width:80%">
        <us-select
          [data]="maskTypeArr"
          formControlName="maskType"
          [multiSelect]="false"
          [label]="'Mask Type' | translate"
          [placeholder]="'Source' | translate"
          [isDisabled]="false"
          [optional]="true"
          [enableSearch]="true"
          [searchbarOnToggler]="true"
          [searchNoResultText]="'noResultText' | translate"
          [maxListItemsWithoutSearch]="5"
        ></us-select>
        </div>
      </div>
    </form>
  </div>

  <!-- modal footer -->
  <div class="modal-footer justify-content-center gap-3" style="height: 10%">
    <us-button
      (clicked)="onClose()"
      label="{{ 'CANCEL' | translate }}"
      size="sm"
      appearance="primary"
      [fill]="false"
      [loading]="false"

    ></us-button>
    <us-button
    (clicked)="submitSave()"
      [loading]="loading"
      label="{{ 'SAVE' | translate }}"
      size="sm"
      [fill]="true"
      [disabled]="isValid() || loading"
    ></us-button>
  </div>
</section>
