<div>
  <div class="p-5 d-flex flex-column">

    <!-- header -->
    <div class="d-flex justify-content-center align-items-center position-relative   " style="height: 10%;">
      <div class="txt-lg">Setting</div>
      <div class="position-absolute end-0 top-50 translate-middle-y mx-2">
        <img (click)="onClose()" src="assets/icons/close-circle.svg" alt="close-icon" style="cursor: pointer;" />
      </div>
    </div>

    <!-- bodey -->
    <div class="  mt-4 mb-5 modal-body overflow-auto px-1 px-4 mx-auto   ps-4 text-center container" style="height: 88%;">
      <div class="w-100 ">
        <!-- Token -->
        <div class="d-flex align-items-center  text-start my-4 txt-sm">
          <div style="width: 80%;">
            <us-input [isDisabled]="true" [placeholder]="'dsS51d809dsSA5D16A001'" value="" [optional]="true"
              type="text" [label]=" 'Token'" [error]="false" [fullWidth]="true"></us-input>
          </div>
          <div class=" d-flex justify-content-center align-items-center ms-3  py-2" style="width: 8%; 
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            border-radius: 11px;
            border: 1px solid rgba(160, 160, 160, 1) ;
">
            <a style="cursor: pointer;" >
              <img src="../assets/icons/reload.svg" alt="">
            </a>
          </div>
        </div>
        <!-- Time Zone -->  
          <div class=" py-auto my-4 " style="width: 80%;">
            <us-select [data]="timeZoneArr" [multiSelect]="true" [label]="'Time Zone'"
              [placeholder]="'(UTC -03:00) Salvador'" [isDisabled]="false" [optional]="true" [enableSearch]="true"
              [searchbarOnToggler]="true" [searchNoResultText]="'there is no result'" [maxListItemsWithoutSearch]="5">
            </us-select>
          </div>
        <!-- Username -->
        <div class=" text-start my-4 " style="width: 80%;">
          <us-input [isDisabled]="false" value="" [optional]="true" type="text" [label]=" 'Username'" [error]="false"
            [fullWidth]="true" class="mb-5"></us-input>
        </div>
        <!-- Organization Name -->
        <div class=" text-start my-4 " style="width: 80%;">
          <us-input [isDisabled]="true" [placeholder]="'Organization Name'" value="" [optional]="true" type="text"
            [label]=" 'Organization Name'" [error]="false" [fullWidth]="true" class="mb-5 "></us-input>
        </div>
        <!-- Mask Type -->
        <div class=" text-start my-4   text-start" style="width: 80%;">
          <us-select [data]=" maskTypeArr" [multiSelect]="true" [label]="'Mask Type'" [placeholder]="'Source'"
            [isDisabled]="false" [optional]="true" [enableSearch]="true" [searchbarOnToggler]="true"
            [searchNoResultText]="'there is no result'" [maxListItemsWithoutSearch]="5"></us-select>
        </div>
      </div>
    </div>



    <!-- footer -->
    <div class="modal-footer justify-content-end gap-3" style="height: 2%;">
      <us-button (click)="onClose()" label="Cancel" size="sm" appearance="primary" [fill]="false" [loading]="false"></us-button>
      <us-button [loading]="false" label="Save" size="sm" [fill]="true"></us-button>
    
    </div>



  </div>
</div>