@import "./../../../../../styles.scss";

:host {
  display: block;
  .sr-tooltip {
    background-color: $clr_neutral_0;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    width: max-content;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
    margin-bottom: 10px;

    p {
      word-break: break-word;
    }
  }

  .sr-tooltip-beak {
    path {
      fill: white;
    }
  }
}
