<div class="d-flex p-3 flex-column gap-3">
<div >
  <span class="contact-name">{{contactName}}</span>
  <span class="contact-number">{{contactNumber}}</span>
</div>

<div >
  <span class="title mb-2">{{title | translate}}</span>
  <div class="d-flex align-items-center gap-3 flex-wrap" style="max-height: 85px; overflow: auto;">
    <ng-container *ngIf="additionalParameters">
      <span class="tag-info" *ngFor="let item of additionalParameters">{{item.name}} : {{item.value}}</span>
    </ng-container>
    <ng-container *ngIf="lists">
      <span class="tag-info" *ngFor="let item of lists">{{item}}</span>
    </ng-container>
  </div>
</div>

</div>