.contact-name{
    font-size: 20px;
    font-weight: 400;
}

.contact-number{
    font-size: 16px;
    font-weight: 300;
    color: #292A32;
}
span{
    display: flex;
}
.title{
font-size: 14px;
font-weight: 500;
color: #292A32;
}