

.pointer{
  cursor: pointer;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--clr-neutral-0);
  border-radius: 8px;
  height: 50px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}
::ng-deep .mdc-line-ripple::before, .mdc-line-ripple::after {
  display: none;
}
::ng-deep .mat-mdc-form-field-infix {
  width: 129px !important;
}
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  font-size: 12px !important;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full{
  background: var(--clr-primary-700) !important;
}
