
<div class="bg-white sidnav-container w-100 h-100">
<div class="d-flex justify-content-evenly py-1 align-items-center    sidnav-top">
  <div class="image-div  my-auto "><img src="./assets/slider-01.jpg" class=" rounded-circle " alt="#"></div>
<div class="">
<h4 class="mb-0 pb-0 ">Ahmed Ali</h4>
<h6 class="mt-0 pt-0 ">Ahmed@gmail.com</h6>
</div>
<a href="">
<i class="fa-solid fa-ellipsis-vertical"></i>
</a>
</div>

<div class="sidnav-ul-container   ">
<ul class="list-unstyled ps-2  pt-2  left-ul    pb-0">
<li class="mb-4 mt-3  ">
<a routerLinkActive="active" routerLink="/dashboard" class=" ps-3 pe-5 p-2 ">
  <i class="fa-brands fa-slack"></i>
  Dashboard
</a>
</li>
<li class="mb-4">
<a  routerLinkActive="active" routerLink="/message" class=" ps-3 pe-5 p-2 ">
  <i class="fa-solid fa-envelope"></i>
  Message
</a>
</li>
<li class="mb-4 ">
<a routerLinkActive="active" routerLink="/chats" class=" ps-3 pe-5 p-2">
  <i class="fa-solid fa-comments"></i>
  Chats
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/compaigns" class=" ps-3 pe-5 p-2">
  <i class="fa-solid fa-bullhorn"></i>
  Compaigns
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/templates" class=" ps-3 pe-5 p-2">
  <i class="fa-solid fa-table-cells-large"></i>
  Templates
</a>
</li>
<li class="mb-4" >
<a routerLinkActive="active" routerLink="/manage-contacts" class=" ps-3 pe-5 p-2" >
  <i class="fa-solid fa-address-book"></i>
  Manage Contacts
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/users" class=" ps-3 pe-5 p-2 pe-4">
  <i class="fa-solid fa-user-group"></i>
  Users
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/devices" class=" ps-3 pe-5 p-2 pe-3">
  <i class="fa-solid fa-desktop"></i>
  Devices
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/bot" class=" ps-3 pe-5 p-2 pe-4">
  <i class="fa-solid fa-robot"></i>
  Bot
</a>
</li>
<li class="mb-4" >
<a routerLinkActive="active" routerLink="/billing" class=" ps-3 pe-5 p-2">
  <i class="fa-solid fa-wallet"></i>
  Billing
</a>
</li>
<li class="mb-4">
<a routerLinkActive="active" routerLink="/videos" class=" ps-3 pe-5 p-2">
  <i class="fa-regular fa-circle-play"></i>
  Videos
</a>
</li>
<li class="mb-3">
<a routerLinkActive="active" routerLink="/notes" class=" ps-3 pe-5 p-2">
  <i class="fa-solid fa-note-sticky"></i>
  Notes
</a>
</li>
<li class=" i-help ">
<a routerLinkActive="active" routerLink="/help" class=" ps-3 pe-5 p-2 ">
  <i class="fa-solid fa-circle-question"></i>
  Help
</a>
</li>


</ul>
</div>

</div>









