#search{
  border: 0.4px solid rgb(134 134 134 / 22%);

}
.lists{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
  position: relative;
 .line{
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color:#dee2e6;
  ;
}
  .lists-body{
    height: 275px;
    overflow-y: auto;
    }

  .sort-by {
    ::ng-deep{
      .mat-mdc-button, .mat-mdc-outlined-button {
        --mat-mdc-button-persistent-ripple-color: white !important;
        --mat-mdc-button-ripple-color:  white !important;

    }
    }

    span{
      color: rgba(51, 50, 61, 1) !important;

    }
    mat-icon{
      color: rgba(51, 50, 61, 1) !important;

    }
  }
}

.contacts{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
  .contacts-body{
    height: 350px;
    overflow-y: auto;
  }
}
.mobile-num{
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  border: 0.4px solid rgb(134 134 134 / 22%);
}

.accordion-button:not(.collapsed) {
   color: #212529 !important;
   background-color: white !important;
  }
  .accordion-button:focus {
    border-color: white !important;
    box-shadow: none !important;
  }
  .accordion-item:last-of-type {
    border-bottom: 0 !important;
}
::ng-deep {

  .mat-expansion-panel{
    box-shadow: none !important;
    border-bottom: 1px solid #dee2e6 !important;

  }
  .mat-expansion-panel:last-of-type{
    border-bottom:none !important;
  }
  .mat-expansion-panel-header{
    height: 55px !important;


  }
  .mat-expansion-panel-header:hover{
    background:none !important;
  }
  .mat-expansion-panel-header-title {
    font-size: 16px !important;
    color: #212121 !important;
}

}

@media (max-width: 1700px) { 
.stepone-containter{
  margin-block: 16px !important;

}
button.button-size-md {
  min-height: 36px !important;
}
.d-flex.gap-4.px-4.py-3.ng-star-inserted {
  gap: 23px !important;
}
.d-flex.gap-4.px-4.py-3.ng-star-inserted {
  padding: 8px 20px !important;
}
.lists.py-3 {
  padding-block: 10px !important;
}
.lists .line {
  top: 43px !important;
}
.lists-body.mt-3 {
  margin-top: 4px !important;
}
.lists {
  .lists-body {
    height: 215px !important;
  }
}
.col-5.d-flex.gap-4.flex-column.me-2 {
  gap: 18px !important;
}
.contacts.py-4 {
  padding-block: 15px !important;
}
.contacts{
  .contacts-body {
  height: 268px  !important;
}
} 
.d-flex.justify-content-between.align-items-center.w-100.px-4.pb-2.txt-sm.lists-top {
  padding-inline: 20px !important;
}
}
@media(max-width:768px){
  .stepone-containter{
    flex-direction: column;
    place-content: unset !important;
    .col-5.d-flex.gap-4.flex-column.me-2 {
      gap: 18px !important;
      width: 100%;
      margin-bottom: 1.5rem;
      margin-inline: 0 !important;

  }
  .col-6.d-flex.gap-4.flex-column {
    width: 100%;
}
  }
}