
.add-action-button{
    height: 43px;}
@media(max-width:1700px){
.add-action-menu{
font-size: 11px;

}
.add-action-button{
    
padding: 20px !important;
}




}

.draggable-row.cdk-drag-preview {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.draggable-row.cdk-drag-placeholder {
  opacity: 0;
}

.col{
  font-size: 12px !important;
}
.small-screen-view {
  min-height: 50vh !important;
}

.paginator-in-small-screen  {
  display: none !important;
}
.actions_{
  display: flex;
  align-items: center;

}

.dropdowns{
  display: none ;

}
.operations{
  display: flex !important;
  align-items: end !important;
}
@media(max-width:768px){
  .small-screen-view{
    min-height: auto !important;
  }
  section{
    padding-inline: 0px !important;

  }
  .paginator-in-large-screen{
    display: none !important;
  }
  .paginator-in-small-screen {
  display: block !important;
  }

  .dropdowns{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  section.table-wrapper {
     box-shadow:unset !important;
  }
  .nodata-container {
     height: unset !important; 
}
.nodata-container img {
  width: 17% !important;
  max-width: 200px !important;
  min-width: 108px !important;
  margin-top: 22px !important;
}
.step5-container {
  max-height: unset!important;
}
section.table-wrapper  {
  box-shadow: unset !important;
  max-height: 50vh !important;
  overflow: auto !important;
  height: 30vh !important;
}
}