.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;


  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1s .35s ease-in-out forwards;
    animation: dash-check 1s .35s ease-in-out forwards;
  }
}
#innerCircle {
  -webkit-animation: innerCircleAnimation .7s ease-in-out;
  animation: innerCircleAnimation .7s ease-in-out;
}

#outerCircle{
  -webkit-animation: outerCircleAnimation 1.3s  ease-in-out;
  animation: outerCircleAnimation 1.3s   ease-in-out;
}


@keyframes innerCircleAnimation {
  0% {
    r: 20;
    opacity: 1;
  }

  100% {
    r: 50;
    opacity: 1;
  }
}
@keyframes outerCircleAnimation {
  0% {
    r: 60;
    opacity: .8;
  }
  20% {
    r: 90;
    opacity: 1;
  }
  40%{
    r: 60;
    opacity: .8;
  }
  60%{
    r: 90;
    opacity: 1;
  }
  80%{
    r: 60;
    opacity: .8;
  }
  100% {
    r: 90;
    opacity: 1;
  }
}
@-webkit-keyframes innerCircleAnimation {
  0% {
    r: 20;
    opacity: 1;
  }

  100% {
    r: 50;
    opacity: 1;
  }
}
@-webkit-keyframes outerCircleAnimation {
  0% {
    r: 60;
    opacity: .8;
  }
  20% {
    r: 90;
    opacity: 1;
  }
  40%{
    r: 60;
    opacity: .8;
  }
  60%{
    r: 90;
    opacity: 1;
  }
  80%{
    r: 60;
    opacity: .8;
  }
  100% {
    r: 90;
    opacity: 1;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}



@media(max-width:1700px){
 
  .close-icon.position-absolute.end-0.pointer.ranslate-middle-y.mx-5.zi-3 {
    top: 11px !important;
}
}