<div class="d-flex align-items-center flex-column gap-3 w-100 h-100 pt-5" >
  <div class="mb-3" style="height: 40%;">
    <svg _ngcontent-rmc-c66="" width="280" height="280" viewBox="-60 0 238 163">
      <circle _ngcontent-rmc-c66="" id="outerCircle" fill="#d4e5ec" cx="67" cy="67" r="105"></circle>
      <circle _ngcontent-rmc-c66="" id="innerCircle" fill="rgba(0, 101, 141, 1)" cx="66" cy="66" r="65"></circle>
      <polyline _ngcontent-rmc-c66="" fill="none" stroke="rgba(244, 248, 251, 1)" stroke-width="12" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " class="path check"></polyline>
    </svg>
  </div>

  <p class="scan-msg mt-5 mb-3" style="font-size: 36px; height: 10%; font-weight: 400; letter-spacing: -0.17719870805740356px; text-align: center; color: rgba(0, 0, 0, 0.67)">
    {{ 'scan_successful' | translate }}
  </p>

  <div class="device-name" style="height: 20%; width: 55%;">
    <form [formGroup]="form">
      <us-input
      class="mb-3"
        [isDisabled]="false"
        value=""
        placeholder="{{ 'enter_device_name' | translate }}"
        [optional]="true"
        type="text"
        [error]="false"
        [fullWidth]="true"
        formControlName="deviceName"
        label="{{ 'device_name' | translate }}"
        [error]="(deviceName.touched && deviceName.errors?.required) ? ('this_field_is_required' | translate) : ''"
        [hintText]="(deviceName.touched && deviceName.errors?.required) ? ('this_field_is_required' | translate) : ''"
      ></us-input>

      <div
          class="form-group d-flex gap-lg-4 flex-column flex-lg-row flex-nowrap mt-3" 
        >
          <div
            class="label-widget text-start w-25 d-none d-lg-block"
            style="min-width: 25%"
          >
            <label for="mobile" class="label txt txt-sm text-nowrap d-flex">
              <span class="txt txt-sm text-black text-wrap">{{
                "MOBILE_NUMBER" | translate
              }}</span>
            </label>
          </div>
          <div class="w-100">
            <ngx-intl-tel-input
              [cssClass]="
                (mobile?.touched && mobile.invalid ? 'error' : '') +
                ' rounded-pill border border-1py-2 txt-input w-100'
              "
              [enableAutoCountrySelect]="true"
              [preferredCountries]="[CountryISO.UnitedArabEmirates]"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Egypt"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="mobile"
            ></ngx-intl-tel-input>

            <ng-container *ngIf="mobile?.touched && mobile?.errors?.required">
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">{{ "REQUIRED_FIELD" | translate }}</p>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                mobile?.touched && mobile.invalid && !mobile?.errors?.required
              "
            >
              <div class="hint error">
                <i class="si-info"></i>
                <p class="txt txt-xs">
                  {{ "INCORRECT_PHONE_NUMBER" | translate }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
    </form>
  </div>

  <div class="d-flex justify-content-end align-items-center" style="height: 10%; width: 70%;">
    <us-button
      label="{{ 'submit' | translate }}"
      size="sm"
      [loading]="isLoading"
      [fill]="true"
      (clicked)="submitAdd()"
      [disabled]="form.invalid || isLoading"
    ></us-button>
  </div>
</div>
