.resend-icon-container{
    background-color: var(--clr-primary-800);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img{
        width: 50%;
    }
  }
  p{
    line-height: 1.3;
    text-transform: capitalize;
  }