<section  #dialogElement class=" custom-dialog-container d-flex flex-column p-4 gap-3 h-100 ">
  <!-- modal header -->
  <div
    class="d-flex justify-content-center align-items-center position-relative"
    style="height: 5%"
  >
    <div class="txt-lg">{{ 'enqueryForm' | translate }}</div>
    <div class=" close-icon  position-absolute end-0 top-50 translate-middle-y mx-2">
      <img
        src="assets/icons/close-circle.svg"
        (click)="onClose()"
        alt="close-icon"
        style="cursor: pointer;width: 32px;"
      />
    </div>
  </div>

  <section>
    <mat-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>

      <mat-step>
        <ng-template matStepLabel>{{ 'addQuestion' | translate }}</ng-template>
        <div 
          class="d-flex align-items-between flex-column justify-content-between gap-3 step-container"
        >
        <div class="step-one">

          <div class="my-3">
            <app-criteria (allCriterias)="setCriterias($event)" [criteriaParameters]="criterias" (disableSaveButton)="isButtonDisabled($event)"></app-criteria>
          </div>
          <form [formGroup]="myForm" >
            <div formArrayName="questions" class="questions " cdkDropList [cdkDropListData]="questions" (cdkDropListDropped)="onDrop($event)">
              <div *ngFor="let question of questions.controls; let i = index"  class="question"  cdkDrag [cdkDragPreviewContainer]="'parent'"
              [cdkDragPreviewClass]="'add-padding-to-dragged'" >
                  <div class="d-flex justify-content-between mb-2 align-items-center questions-container">
                      <div style="width:90%" class="question-input input-container">
                        <us-input
                        [formControl]="question"
                        [isDisabled]="false"
                        value=""
                        [optional]="true"
                        type="text"
                        [label]="('question' |translate) +' ' + (i+1)"
                        [error]="false"
                        [warning]="isQuestionRepeated(i)"
                        [hintText]=" isQuestionRepeated(i) ? ('repeated_question' | translate) :''"
                        [fullWidth]="true"
                      ></us-input>
                      </div>
                    
                      <div style="width:10%" class="d-flex justify-content-end align-items-center gap-2 operations"  >
                        <img style="cursor: move;"  src="assets/icons/reorder.svg" cdkDragHandle>
                        <img class="pointer" (click)="removeQuestion(i)"  src="assets/icons/Actionsc.svg" alt="delete question" />
                      </div>
                  </div>
                  
                 
                
              </div>
            </div>
            
            <div class="d-flex align-items-center p-2  gap-2" style="    height: 46px;
            ">
              <button (click)="addQuestion()" class="rest-style pointer add-button" [disabled]="!myForm.valid || myForm.get('questions').hasError('whitespace')">
                <img src="assets/icons/addQ.svg" alt="" />
              </button>
              <span>{{ 'addAQuestion' | translate }} </span>
            </div>
          </form>
        </div>
    
    <div class="d-flex justify-content-end align-items-center"style="width: 98%;">
      <button class="rest-style" matStepperNext [disabled]="!myForm.valid || questions.length === 0 || myForm.get('questions').hasError('whitespace')">
        <us-button
          class="m-2"
          label="{{ 'NEXT' | translate }}"
          [fill]="true"
          [size]="'md'"
          [loading]="false"
          [appearance]="'primary'"
          [disabled]="!myForm.valid || isDisabled || questions.length === 0 || myForm.get('questions').hasError('whitespace')"
        >
        </us-button>
      </button>
    </div>
    </div>
  </mat-step>
<!-- details step -->
      <mat-step>
        <ng-template matStepLabel>{{ 'details' | translate }}</ng-template>
        <div 
        class="d-flex align-items-between flex-column justify-content-between gap-3 step-container"
      >

      <form [formGroup]="form" class="w-100 details mt-4">
        <div class="acknowledgment">
          <h3>{{ 'responses' | translate }}</h3>
          <us-input
          [isDisabled]="false"
          value=""
          placeholder="text..."
          [optional]="true"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="acknowledgment"
          [label]="'acknowledgment'| translate "
          [isTextArea]="true"
          [isEmoji]="true"
          ></us-input>
        </div>

        <div class="notifications">
          <h3>{{ 'notifications' | translate }}</h3>
          <!-- emails -->
          <div class="d-flex justify-content-between mb-2 align-items-center">
            <div style="width:90%" class="input-container">
              <us-input
              [isDisabled]="false"
              value=""
              [key]="'email'"
              [placeholder]=""
              [optional]="true"
              type="email"
              [fullWidth]="true"
              formControlName="email"
              label="{{ 'EMAIL' | translate }}"
              [error]="email.touched && email.errors?.pattern"
              [hintText]="
                  email.dirty && email.errors?.pattern
                  ? ('INVALID_EMAIL' | translate)
                  : ''
              "
            ></us-input>            
            </div>

          <div class="add-conatiner">
            <div  class="pointer add" (click)="addEmail()" >
              <mat-icon class="add_icon">add</mat-icon>
            </div>
          </div>

          </div>
    
          <div class="tags-container">
            <div class="d-flex gap-2 align-items-center flex-wrap">
              <div class="tag" *ngFor="let email of emails; let i = index">
                <span>{{email}}</span>
                  <i
                  class="si-close tag_close "
                  (click)="onTagClose('email' ,i )"
                  ></i>
              </div>
            </div>
        </div>


        <!-- whatsapp -->
          <div class="d-flex justify-content-between mb-2 align-items-center">
            <div style="width:90%" class="input-container">
              <us-input
              formControlName="whatsapp"
              [isDisabled]="false"
              value=""
              [optional]="true"
              type="number"
              [label]="'mobileNumberLabel' | translate"
              [error]="false"
              [fullWidth]="true"
              [hideSteppers]="true"
            ></us-input>
            </div>

            <div class="add-conatiner">
              <div  class="pointer add" (click)="addWhatsappNumber()" >
                <mat-icon class="add_icon">add</mat-icon>
              </div>
            </div>

          </div>
          <div class="tags-container">
              <div class="d-flex gap-2 align-items-center flex-wrap">
                  <div class="tag" *ngFor="let whatsappNumber of whatsappNumbers; let i = index">
                    <span>{{whatsappNumber}}</span>
                    <i
                    class="si-close tag_close"
                    (click)="onTagClose('whatsapp' ,i )"
                  ></i>
                </div>
              </div>
          </div>

        </div>


      </form>

      <div
        class="d-flex justify-content-end align-items-center mb-3"
        style="width: 98%;"
      >
        <button class="rest-style" matStepperPrevious>
          <us-button
            class="m-2"
            label="{{ 'BACK' | translate }}"
            [fill]="false"
            [size]="'md'"
            [loading]="false"
            [disabled]="false"
            [appearance]="'primary'"
          >
          </us-button>
        </button>

        <button class="rest-style" matStepperNext>
          <us-button
            class="m-2"
            label="{{ 'SAVE' | translate }}"
            [fill]="true"
            [size]="'md'"
            [loading]="isLoading"
            [disabled]="isLoading"
            [appearance]="'primary'"
            (clicked)="submitAdd()"
          >
          </us-button>
        </button>
        </div>
      </div>
      </mat-step>
    </mat-stepper>
  </section>
</section>
