<div class="d-flex gap-5 mt-5 flex-column">
  <div class="d-flex mt-3 w-100 gap-3">
      <!-- Pending -->
      <div class="d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;     height: 170px !important;
      border: 1px solid rgba(255, 199, 0, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4  class="txt-md" style="
    font-weight: 500;">Pending</h4>
      <p style="font-weight: 500;font-size: 32px;" class="fw-bold">{{statics?.pindingCount}}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3" style=" width: 78px;">
      <img src="assets/icons/4.svg" alt="" class="w-100" />
    </div>
  </div>

    <!-- Sent -->
    <div class="d-flex justify-content-between align-items-center px-4 py-2" style="
        width: 20%;
        background-color: white;
        border-radius: 16px;     height: 170px !important;
        border: 1px solid rgba(255, 122, 0, 1);
      ">
      <div class="d-flex gap-4 flex-column">
        <h4  class="txt-md" style="
    font-weight: 500;">Sent</h4>
        <p style="font-weight: 500;font-size: 32px;" class="fw-bold">{{statics?.sentCount}}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center   ms-3" style=" width: 78px;">
        <img src="assets/icons/sent.svg" alt="" class="w-100" style="
        position: relative;
        top: -24px;
    " />
            </div>
    </div>


    <!-- Delivered -->
    <div class="d-flex justify-content-between align-items-center px-4 py-2" style="
        width: 20%;
        background-color: white;
        border-radius: 16px;     height: 170px !important;
        border: 1px solid rgba(0, 102, 255, 1);
        height: 170px !important;
      ">
      <div class="d-flex gap-4 flex-column">
        <h4  class="txt-md" style="
    font-weight: 500;">Delivered</h4>
        <p style="font-weight: 500;font-size: 32px;" class="fw-bold">{{statics?.deliveredCount}}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  ms-3 " style=" width: 78px;">
        <img src="assets/icons/delivered.svg" alt="" class="w-100" style="
        position: relative;
        top: -25px;
    " />


      </div>
    </div>

    <!-- Read -->
    <div class="d-flex justify-content-between align-items-center px-4 py-2" style="
        width: 20%;
        background-color: white;
        border-radius: 16px;     height: 170px !important;

        border: 1px solid rgba(0, 255, 58, 1);
      ">
      <div class="d-flex gap-4 flex-column">
        <h4  class="txt-md" style="
    font-weight: 500;">Read</h4>
        <p style="font-weight: 500;font-size: 32px;" class="fw-bold">{{statics?.readCount}}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center ms-3"  style=" width: 78px;">
        <img src="assets/icons/2.svg" alt="" class="w-100" />
      </div>
    </div>



    <!-- Undelivered -->
    <div class="d-flex justify-content-between align-items-center px-4 py-2" style="
        width: 20%;
        background-color: white;
        border-radius: 16px;     height: 170px !important;
        border: 1px solid rgba(249, 15, 0, 1);
      ">
      <div class="d-flex gap-4 flex-column">
        <h4 class="txt-md" style="
    font-weight: 500;">Undelivered</h4>
        <p style="font-weight: 500;font-size: 32px;" class="fw-bold">{{statics?.undeliveredCount}}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center ms-3" style=" width: 78px;">
        <img src="assets/icons/5.svg" alt="" class="w-100" />
      </div>
    </div>
  </div>
  <div >
    <h4 style=" font-size: 32px; font-weight: 600 ;margin-bottom: 0 !important;" >Total: <span>{{statics?.pindingCount + statics?.sentCount}}</span></h4>
  </div>
  <div class="w-100 p-4 mb-3" style="background-color: white; border-radius: 16px;     overflow-y: auto;
  height: 170px !important;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  ">
    <h4 class="txt-lg" style=" font-weight: 600">Message Content</h4>
    <p>
    {{statics?.messageContent}}
    </p>
    <div>
      <!-- <img class="me-3" src="assets/images/image.svg" alt="" />
      <img src="assets/images/document.svg" alt="" /> -->
    </div>
  </div>
</div>
