h1,h2,h3,h4,h5,h6,p{
    font-family: 'Poppins', sans-serif ;
}
.summary-icon{
    align-self: start;
    padding: 15px 15px;
    box-shadow: 1px 2px 4px 0px #00000014;
    border-radius: 50%;
    background: white;
    margin-top: 3px;
    img{
        width: 36px !important;
        }
}
.summary-state{
    height: 170px ;
    box-shadow: 0px 4px 4px 0px #00000014;
    width: 20%;
    border-radius: 16px;
    &.pending{
        background: #FFEFB8;

        h4{
            color: #ECB800;
        }
     
    }
    &.sent{
        background: #FFE3C1;

        h4{
            color:#FF7A00;
        }
        .summary-icon{
            padding: 10px 15px !important;

            img{
                position: relative;
                top: -11px;
            }

        }
    }
    &.delivered{
        background: #E0EDFF;
        h4{
            color: #0066FF;

        }
        .summary-icon{
            padding: 10px 15px !important;

            img{
                position: relative;
                top: -11px;

            }
        }
    }
    &.read{
        background: #D7FFE0;

        h4{
            color: #00DC32;

        }
   
    }
    &.undelivered{
        background-color: #FFCFCC;
        h4{
            color: #F90F00;
        }
    
    }
}
.line{
    background-color:  #C7C6C6;
    width:100% ;
    height: 1px;
}
.summary-state-content{
    height: 80%;
}
.media{
    width: 20% !important;
    max-width: 200px;
  }

@media(max-width:1700px){
    .summary-icon{

        img{
            width: 25px !important;
        }
    }
    .summary-state{
        padding: 10px 14px!important;
        height: 142px !important;
    }
    h4.total-delevired {
        font-size: 22px !important;
    }
    .sending-out{
        width:160px !important
    }
    .campaign-setting{

        h4.txt-lg.mb-5 {
            margin-bottom: 24px !important;
        }
    }
}
.campaign-setting-body{
    border: 1px solid #C7C6C6;
    border-radius: 16px;
    min-width: 605px;
    padding: 20px;
    width: fit-content;
}
.table-container{
    border-radius: 16px;
    border:1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    width: 60%;
    min-width: 800px;
    
    table{
      // background-color: transparent;
  
      .mdc-data-table__cell {
        border-bottom: none !important ;
      }
      
    }
    .table-inner-container {
        padding-inline: 25px;
    }
    th:not(.checkBox) , td:not(.checkBox){
        text-align: center !important;
      }
  }
  
@media(max-width:768px){
    .summary-state-container {
        display: flex;
        flex-wrap: wrap !important;
        gap: 8px !important;

    }
    
    .summary-state {
        padding: 5px 10px !important;
        height: 104px !important;
        width: 31%;
        position: relative;
    }
    h4.txt-md {
        font-size: 13px !important;
    }
    .summary-icon {
        align-self: flex-end !important;
        padding:  8px !important;
        position: absolute;
        bottom: 16px;
        right: 9px;
        img{
            width: 20px !important;

        }
    }
    
    .summary-state.delivered .summary-icon,
    .summary-state.sent .summary-icon {
        padding: 3px 8px !important;
    }
    
    .summary-state.delivered .summary-icon img {
        position: relative;
        top: -8px !important;

    }
    
    .summary-state.sent .summary-icon img {
        position: relative;
        top: -7px !important;
    }
    p.fw-bold {
        font-size: 18px !important;
        margin-top: -20px;
        max-width: 54px !important;
        white-space: break-spaces;
        word-wrap: break-word;
    }
    h4.total-delevired {
        font-size: 16px !important;
    }
    .summary-container{
        padding: 10px !important;
        overflow: hidden !important;

    }
    .line {
        margin-block: 12px !important;
    }
    .campaign-setting-body  {
        border:none !important;
        min-width: 84% !important;
        padding: 0px !important;
        width: 84vw !important;
    }
    .interval,.sending-time {
        width: 100%  !important;

    }
    .campaign-setting.mb-2.p-3 {
        width: 100% !important;
        padding: 0 !important;

    }
    .interval{
      div{
        width: 80px !important;
        gap: 0px !important;
      }
      span.mx-3 {
        margin-inline: 0px !important;

    }

    }
    .sending-time{
       span{
        width: 90% !important;

       }
        .sending-out{
            width: 74px !important;
            span.mx-3 {
                margin-inline: 9px !important;

            }
        }
    }
    .max-recepient{
        width:83%  !important;

    }
    .campaign-setting h4.txt-lg.mb-5 {
        margin-bottom: 18px !important;
    }
    .attachment{
        width: 33% !important;
    }
    .table-container  {
        min-width: 100% !important;
    }
    .table-container  .table-inner-container  {
        padding-inline: 0 !important;;
    }
    .d-flex.gap-2.overflow-hidden.criterias-wrapper.px-4.w-100 {
        padding-inline: 0 !important;
    }
    .table-inner-container td, .table-inner-container th {
        font-size: 12px !important;
    }
    .criterias {
        width: fit-content !important;
    }
    .session-time-out{
        width: 60% !important;

    }
    .d-flex.gap-4.mt-5.flex-column.component-container {
        margin-top: 15px !important;
        gap: 35px !important;
    }
}