<div class="d-flex gap-5 mt-5 flex-column component-container">
  <div class="d-flex mt-3 w-100 gap-3">
  <div class=" summary-state d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;
      border: 1px solid rgba(255, 199, 0, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'PENDING' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.pindingCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/4.svg" alt="" class="w-100" />
    </div>
  </div>

  <!-- Sent -->
  <div class=" summary-state d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;
      border: 1px solid rgba(255, 122, 0, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'SENT' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.sentCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/sent.svg" alt="" class="w-100" style="position: relative; top: -24px;" />
    </div>
  </div>

  <!-- Delivered -->
  <div class=" summary-state d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;
      border: 1px solid rgba(0, 102, 255, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'DELIVERED' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.deliveredCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/delivered.svg" alt="" class="w-100" style="position: relative; top: -25px;" />
    </div>
  </div>

  <!-- Read -->
  <div class=" summary-state d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;
      border: 1px solid rgba(0, 255, 58, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'READ' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.readCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/2.svg" alt="" class="w-100" />
    </div>
  </div>

  <!-- Undelivered -->
  <div class=" summary-state d-flex justify-content-between align-items-center px-4 py-2" style="
      width: 20%;
      background-color: white;
      border-radius: 16px;
      border: 1px solid rgba(249, 15, 0, 1);
    ">
    <div class="d-flex gap-4 flex-column">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'UNDELIVERED' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.undeliveredCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/5.svg" alt="" class="w-100" />
    </div>
  </div>
</div>
  <div>
    <h4 class="total-delevired" style="font-size: 32px; font-weight: 600; margin-bottom: 0 !important;" >
      {{ 'TOTAL' | translate }}: <span>{{ statics?.pindingCount + statics?.sentCount }}</span>
    </h4>
  </div>

  <div class="w-100 p-4 mb-3 summary-state" style="background-color: white; border-radius: 16px; overflow-y: auto; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);">
    <h4 class="txt-lg" style="font-weight: 600">{{ 'MESSAGE_CONTENT' | translate }}</h4>
    <p>
      {{ statics?.messageContent | translate }}
    </p>
    <div>
    </div>
  </div>
</div>
