<div class="d-flex gap-5 mt-5 flex-column component-container">
  <div class="d-flex mt-3 w-100 gap-3">
  <div class=" summary-state d-flex justify-content-between pending align-items-center px-4 py-2" >
    <div class="d-flex gap-4 flex-column summary-state-content">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'PENDING' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.pindingCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/4.svg" alt="" class="w-100" />
    </div>
  </div>

  <!-- Sent -->
  <div class=" summary-state d-flex justify-content-between sent align-items-center px-4 py-2" >
    <div class="d-flex gap-4 flex-column summary-state-content">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'SENT' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.sentCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/sent.svg" alt="" class="w-100"  />
    </div>
  </div>

  <!-- Delivered -->
  <div class=" summary-state d-flex justify-content-between delivered align-items-center px-4 py-2" >
    <div class="d-flex gap-4 flex-column summary-state-content">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'DELIVERED' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.deliveredCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/delivered.svg" alt="" class="w-100"  />
    </div>
  </div>

  <!-- Read -->
  <div class=" summary-state d-flex justify-content-between read align-items-center px-4 py-2" >
    <div class="d-flex gap-4 flex-column summary-state-content">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'READ' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.readCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/2.svg" alt="" class="w-100" />
    </div>
  </div>

  <!-- Undelivered -->
  <div class=" summary-state d-flex justify-content-between undelivered align-items-center px-4 py-2">
    <div class="d-flex gap-4 flex-column summary-state-content">
      <h4 class="txt-md" style="font-weight: 500;">{{ 'UNDELIVERED' | translate }}</h4>
      <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.undeliveredCount }}</p>
    </div>

    <div class="d-flex justify-content-center align-items-center ms-3 summary-icon" >
      <img src="assets/icons/5.svg" alt="" class="w-100" />
    </div>
  </div>
</div>
  <div>
    <h4 class="total-delevired" style="font-size: 32px; font-weight: 600; margin-bottom: 0 !important;" >
      {{ 'TOTAL' | translate }}: <span>{{ statics?.pindingCount + statics?.sentCount }}</span>
    </h4>
  </div>

  <div class="w-100 p-4 mb-3 " style="background-color: white; border-radius: 16px; overflow-y: auto; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);">
    <div>
      <h4 class="txt-lg" style="font-weight: 600">{{ 'MESSAGE_CONTENT' | translate }}</h4>
      <p>
        {{ statics?.messageContent | translate }}
      </p>
    </div>
    <div class="line my-5">
    </div>
    <div class="campaign-setting mb-2" style="width: 725px;">
      <h4 class="txt-lg mb-5" style="font-weight: 600">{{ 'Campaign Settings' | translate }}</h4>
      <div class="interval d-flex justify-content-between mb-4 txt-md" style="width: 437px;">
        <span style="font-weight: 500; display: inline-flex ;     width: 235px;">{{ 'Randomize interval' | translate }}</span> 
        <div class="d-flex justify-content-between " style="width: 150px;">
          <span>{{compaign?.intervalFrom}}</span> 
          <span class="mx-3">:</span>
          <span>{{compaign?.intervalTo}}</span> 
        </div>
      </div>

      <div class="max-recepient d-flex justify-content-between  mb-4 txt-md" style="width: 41%;
      min-width: 311px;">
        <span style="font-weight: 500; display: inline-flex ;width: 77%;">{{ 'Max recipients per day' | translate }}</span> 
        <span>{{compaign?.maxPerDay}}</span> 
      </div>


      <div class="sending-time  d-flex justify-content-between mb-4 txt-md" style="width: 433px;">
        <span style="font-weight: 500; display: inline-flex ; width: 235px;">{{ 'Sending out time' | translate }}</span> 
        <div class="d-flex justify-content-between " style="    width: 150px;">
          <span>{{compaign?.sendingoutFrom}}</span> 
          <span class="mx-3">:</span>
          <span>{{compaign?.sendingoutTo}}</span> 
        </div>
      </div>

    </div>
    <div>
    </div>
  </div>
</div>
