@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
.msg-body{
    font-family:'Poppins', 'Noto Color Emoji' !important;

}
p,h1,h2,h3{
    font-family: 'Poppins';
}
@media(max-width:768px){
    p.overflow-line-2.mb-0 {
        font-size: 12px !important;
        color: black !important;
    }
}
